.SeriesSection {
  width: 86%;
  float: right;
  margin-left: 2px;
}

.Series-Container {
  position: inherit;
  height: 230px;
  width: 100%;
  top: 60px;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.Series-Container {
  scrollbar-width: thin;
  scrollbar-color: #f96d2d #000000;
}

  /* Chrome, Edge, and Safari */
.Series-Container::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

.Series-Container::-webkit-scrollbar-track {
  background: #000000;
  }

.Series-Container::-webkit-scrollbar-thumb {
  background-color: #f96d2d;
  border-radius: 5px;
}


.Series-Cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 99999px;
  height: 290px;
}

.Series-Card {
  display: flex;
  height: 220px;
  width: 150px;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.Series-Card:not(:first-child) {
    margin-left: -50px;
}

.Series-Card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
  cursor: pointer;
}

.Series-Card:hover ~ .Series-Card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.Bar {
  position: absolute;
  margin: auto;
  top: 180px;
  height: 60px;
  font-size: 15px;
  width: 100%;
  text-align: center;
}

.FilledBar {
  position: absolute;
  top: 45px;
  z-index: 3;
  width: 0px;
  height: 6px;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgb(109 68 168) 0%, rgb(249 94 39) 65%, rgb(249 162 57) 100%);
  transition: 0.6s ease-out;
}

.Series-Card:hover .Bar {
    background-color: #000000;
    opacity: .9;
}

.Series-Card:hover .FilledBar {
  width: 100%;
  transition: 0.4s ease-out;
}


.Series-Card .Bar h2 {
    display: none;
}

.Series-Card:hover .Bar h2 {
    width: 90%;
    margin: auto;
    display: inline-block;
    transition: 0.4s ease-in;
    font-size: 12px;
}

