.Credits-Container {
  position: inherit;
  height: 300px;
  width: 80%;
  top: 60px;
  display: flex;
}

.Card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.Card:not(:first-child) {
    margin-left: -50px;
}

.Card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.Card:hover ~ .Card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.Title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

