
.RightSideBar .SignedIn {
    height: 85%;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.RightSideBar .UserNotifications {
    height: 11%;
    padding-top: 40px;
    overflow: hidden;
}

.RightSideBar .UserNotifications .SocialButtons {
    height: 100%;
    width: 100%;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.RightSideBar .UserNotifications .SocialButtons button {
    width: 25%;
    height: 60px;
    text-align: center;
    border-color: transparent;
    text-decoration: none;
    font-size: 23px;
    background-color: black;
    color: #6d44a8;
    display: block;
    font-weight: 600;
}

.RightSideBar .UserNotifications .SocialButtons button:hover {
    backdrop-filter: blur(10px) saturate(200%);
    background-color: #530881;
    background-image: 
        radial-gradient(at 47% 33%, hsl(18.00, 100%, 51%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(19.73, 93%, 52%) 0, transparent 55%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.RightSideBar .UserNotifications .SocialButtons button.active {
    background-color: #530881;
    color: black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 0px;
}

.RightSideBar .UserNotifications .SocialButtons i {
    width: 30px;
}







.RightSideBar .UserSocialContainer {
    height: 85%;
    backdrop-filter: blur(10px) saturate(200%);
    background-color: #530881;
    background-image: 
        radial-gradient(at 47% 33%, hsl(18.00, 100%, 51%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(19.73, 93%, 52%) 0, transparent 55%);
    border-color: transparent;
}


.RightSideBar .SignedIn .tabcontent {
    height: 100%;
    width: 100%;
    margin: 0px auto 10px auto;
}

.RightSideBar .SignedIn .tabcontent a {
    text-decoration: none;
    color: white;
}

.RightSideBar .SignedIn .tabcontent h3 {
    font-size: 20px;
    text-align: center;
}




.RightSideBar .tabcontent .Search-Wrapper {
    width: 100%;
    margin: auto;
    color: white;
}

.tabcontent .Search-Wrapper .Input-Wrapper {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    color: white;
}


.tabcontent .Search-Wrapper .Input-Wrapper .Search-Input {
    width: 100%;
    margin: auto;
    color: white;
    backdrop-filter: blur(10px) saturate(130%);
    -webkit-backdrop-filter: blur(10px) saturate(130%);
    background-color: rgba(121, 0, 224, 0.06);
    border-radius: 12px;
    border: 3px solid rgba(255, 255, 255, 0.125);
    outline: none;
}

.tabcontent .Search-Wrapper .Input-Wrapper .Search-Input:focus {
    -webkit-box-shadow: 0px 0px 2px 3px rgb(255 255 255 / 25%);
    box-shadow: 0px 0px 2px 3px #f8f9fa73;
    cursor: pointer;
    background: rgba(255, 255, 255, .25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) saturate(200%);
    border: 1px solid rgb(255 255 255 / 35%);
    -webkit-transition: 0.3s;
}




.tabcontent .container #cards-container {
    height: 85%;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.tabcontent .container #cards-container {
  scrollbar-width: thin;
  scrollbar-color: #f96d2d #000000;
}

  /* Chrome, Edge, and Safari */
.tabcontent .container #cards-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.tabcontent .container #cards-container::-webkit-scrollbar-track {
  background-color: transparent;
  }

.tabcontent .container #cards-container::-webkit-scrollbar-thumb {
  background-color: #f96d2d;
  border-radius: 5px;
}


.tabcontent .cards {
    display: inline-block;
    height: 85%;
    width: 100%;
    margin: auto;
}

.tabcontent .card {
    height: 100px;
    width: 90%;
    backdrop-filter: blur(10px) saturate(130%);
    -webkit-backdrop-filter: blur(10px) saturate(130%);
    background-color: rgba(121, 0, 224, 0.06);
    border-radius: 12px;
    border: 3px solid rgba(255, 255, 255, 0.125);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.tabcontent .card:hover {
    -webkit-box-shadow: 0px 0px 2px 3px rgb(255 255 255 / 25%);
    box-shadow: 0px 0px 2px 3px #f8f9fa73;
    cursor: pointer;
    background: rgba(255, 255, 255, .25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) saturate(200%);
    border: 1px solid rgb(255 255 255 / 35%);
    -webkit-transition: 0.3s;
}







.tabcontent .card .info-container {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    float: right;
}

.tabcontent .card img {
    height: 55px;
    width: 55px;
    float: left;
    display: inline-block;
    margin-left: 10px;
    border-radius: 30px;
    margin-top: 5px;
}

.info-container #username {
    height: fit-content;
    font-size: 15px;
    width: 160px; 
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
}

.info-container #name {
    height: fit-content;
    font-size: 12px;
    width: 160px;
    float: right;
}

.tabcontent .card button {
    width: 80px;
    display: inline-block;
}

.tabcontent .card #accept {
    float: left;
}

.tabcontent .card #deny {
    float: right;
}
