
.RightSideBar .SignedIn {
    height: 85%;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.RightSideBar .UserNotifications {
    height: 11%;
    padding-top: 40px;
    overflow: hidden;
}

.RightSideBar .UserNotifications .SocialButtons {
    height: 100%;
    width: 100%;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.RightSideBar .UserNotifications .SocialButtons button {
    width: 25%;
    height: 60px;
    text-align: center;
    border-color: transparent;
    text-decoration: none;
    font-size: 23px;
    background-color: black;
    color: #6d44a8;
    display: block;
    font-weight: 600;
}

.RightSideBar .UserNotifications .SocialButtonsbutton:hover {
    -webkit-box-shadow: 0px 0px 2px 3px rgb(255 255 255 / 25%);
    box-shadow: 0px 0px 2px 3px #f8f9fa73;
    cursor: pointer;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) saturate(200%);
    background-color: #530881;
    background-image: 
        radial-gradient(at 47% 33%, hsl(18.00, 100%, 51%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(19.73, 93%, 52%) 0, transparent 55%);
}

.RightSideBar .UserNotifications .SocialButtons button.active {
    background-color: #530881;
    color: black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 0px;
}

.RightSideBar .UserNotifications .SocialButtons i {
    width: 30px;
}







.RightSideBar .UserSocialContainer {
    height: 85%;
    backdrop-filter: blur(10px) saturate(200%);
    background-color: #530881;
    background-image: 
        radial-gradient(at 47% 33%, hsl(18.00, 100%, 51%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(19.73, 93%, 52%) 0, transparent 55%);
    border-color: transparent;
}


.RightSideBar .SignedIn .tabcontent  {
    height: 100%;
    width: 100%;
    margin: 0px auto 10px auto;
}




