
.SearchForm {
    display: none;
}


.ProfileForm {
	text-align: center;
	float: left;
}

.ProfileForm input {
	text-align: center;
}


.RightSideBar .SignedIn .UserNotifications {
	display: none;
}

.RightSideBar .SignedIn .UserSocialContainer {
	display: none;
}


.SocialTab {
	height: 100%;
	width: 100%;
}

.SocialTab .SocialContent {
	height: 100%;
	width: 90%;
	margin: auto;
}


.SocialTab .SocialContent .FriendSection {
    height: 100%;
    width: 30%;
}

.SocialTab .SocialContent .FriendSection a {
    text-decoration: none;
    color: white;
}

.SocialTab .SocialContent .FriendSection h3 {
    font-size: 20px;
    text-align: center;
}







.FriendSection .Search-Wrapper {
	height: 140px;
    width: 100%;
    margin: auto;
    color: white;
}

.FriendSection .Search-Wrapper .Followers {
	width: 50%;
	height: 70px;
	float: left;
	text-align: center;
}

.FriendSection .Search-Wrapper .Following {
	width: 50%;
	height: 70px;
	float: right;
	text-align: center;
}


.FriendSection .Search-Wrapper .Input-Wrapper {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    color: white;
}


.FriendSection .Search-Wrapper .Input-Wrapper .Search-Input {
    width: 100%;
    margin: auto;
    color: white;
    backdrop-filter: blur(10px) saturate(130%);
    -webkit-backdrop-filter: blur(10px) saturate(130%);
    background-color: rgba(121, 0, 224, 0.06);
    border-radius: 12px;
    border: 3px solid rgba(255, 255, 255, 0.125);
    outline: none;
}

.FriendSection .Search-Wrapper .Input-Wrapper .Search-Input:focus {
    background: rgba(255, 255, 255, .25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) saturate(200%);
    border: 3px solid rgb(255 255 255 / 35%);
    -webkit-transition: 0.3s;
    border-radius: 10px;
    -webkit-transition: 0.3s;
}




.FriendSection .container #cards-container {
    height: 85%;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.FriendSection .container #cards-container {
  scrollbar-width: thin;
  scrollbar-color: #f96d2d #000000;
}

  /* Chrome, Edge, and Safari */
.FriendSection .container #cards-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.FriendSection .container #cards-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.FriendSection .container #cards-container::-webkit-scrollbar-thumb {
  background-color: #f96d2d;
  border-radius: 5px;
}


.FriendSection .cards {
    display: inline-block;
    height: 85%;
    width: 100%;
    margin: auto;
}

.FriendSection .cards .cardInfo {
	margin-bottom: 20px;
	height: 110px;
}

.FriendSection .card {
    height: 110px;
    width: 90%;
    backdrop-filter: blur(10px) saturate(130%);
    -webkit-backdrop-filter: blur(10px) saturate(130%);
    background-color: rgba(121, 0, 224, 0.06);
    border-radius: 12px;
    border: 3px solid rgba(255, 255, 255, 0.125);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.FriendSection .card:hover {
    -webkit-box-shadow: 0px 0px 2px 3px rgb(255 255 255 / 25%);
    box-shadow: 0px 0px 2px 3px #f8f9fa73;
    cursor: pointer;
    background: rgba(255, 255, 255, .25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) saturate(200%);
    border: 1px solid rgb(255 255 255 / 35%);
    -webkit-transition: 0.3s;
}




.FriendSection .card .info-container {
    width: 100%;
    height: 75px;
    padding-top: 5px;
    float: right;
}

.FriendSection .card img {
    height: 55px;
    width: 55px;
    float: left;
    display: inline-block;
    margin-left: 10px;
    border-radius: 30px;
    margin-top: 5px;
    padding-left: 15px;
}

.FriendSection .info-container #username {
    height: fit-content;
    font-size: 15px;
    width: 160px; 
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
}

.FriendSection .info-container #name {
    height: fit-content;
    font-size: 12px;
    width: 160px;
    float: right;
}

.FriendSection .FollowButtons {
	width: 100%;
	height: 15px;
	padding-left: 15px;
}
