.SearchContents {
    width: 70%;
    margin: auto;
}

.SearchContents .MovieSection, .TvSection, .PeopleSection {
    width: 100%;
    height: 100%;
    list-style: none;
}

.SearchContents ul p {
    width: 20%;
    height: 100%;
    float: left;
}

.SearchContents ul li {
    width: 80%;
    height: 100%;
    float: right;
    margin-bottom: 10px;
}

.SearchContents ul .PosterInfo {
    width: 30%;
    height: 100%;
    float: left;
}

.SearchContents ul .PosterInfo #title {
    font-size: 15px;
    color: white;
}

.SearchContents ul .PosterInfo #year {
    width: 50px;
    font-size: 12px;
    color: white;
}

.SearchContents ul .PosterInfo img {
    height: 150px;
    width: 120px;
    border-radius: 15px;

}

.SearchContents ul .StreamingInfo {
    width: 70%;
    float: right;
}

.StreamingInfo .section-title {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

.StreamingInfo .section-title h2 {
    margin: 0;
    font-weight: bold;
}


.StreamingInfo #streaming .StreamingList {
    float: right;
    width: 100%;
    height: 90%;
}

#streaming .StreamingList .List-Cat {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

#streaming .List-Cat h3 {
    font-size: 20px;
    color: white;
}

#streaming .List-Cat img {
    height: 40px;
    width: 40px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 10px;
}

#streaming .List-Cat .Free-Streaming {
    height: 33%;
    border-bottom: 1px solid white;
    padding-top: 8px;
    padding-bottom: 8px;
}

#streaming .List-Cat .Rent-Streaming {
    height: 33%;
    border-bottom: 1px solid white;
    padding-top: 8px;
    padding-bottom: 8px;
}

#streaming .List-Cat .Buy-Streaming {
    height: 33%;
    padding-top: 8px;
    padding-bottom: 8px;
}