.SearchContents {
    width: 70%;
    margin: auto;
}

.SearchContents .ListSection {
    height: 100%;
    width: 100%;
    margin-bottom: 70px;
}

.SearchContents .ListSection .ListTitle {
    width: 20%;
    float: left;
}

.ListSection .Info {
    height: 100%;
    width: 80%;
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.ListSection .Info .PosterInfo {
    width: 33%;
    height: 100%;
    margin-bottom: 20px;
    position: relative;
    transition-duration: 0.5s;
    display: inline-grid;
}

.Info .PosterInfo > .StreamingInfo {
    display: none;
    position: absolute;
}

.ListSection .Info .PosterInfo .card {
    background: rgba(255, 255, 255, .25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) saturate(200%);
    height: 230px;
    border: 1px solid rgb(255 255 255 / 35%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 180px;
    margin: 10px auto 10px auto;
    border-radius: 20px;
}

.ListSection .Info .PosterInfo .card:hover {
    -webkit-box-shadow: 0px 0px 2px 3px rgb(255 255 255 / 35%);
    box-shadow: 0px 0px 2px 3px #6d44a8;
    cursor: pointer;
    -webkit-backdrop-filter: revert;
    backdrop-filter: revert;
    background-image: linear-gradient(to bottom right, #f02811, #F9A647);
}

.ListSection .Info .PosterInfo .card img {
    width: 75%;
    height: 68%;
    object-fit: cover;
    margin-right: auto;
    margin-left: auto;
    padding-top: 8px;
    display: inline-block;
    border-radius: 20px;
}

.ListSection .Info .PosterInfo .card .info-container {
    text-align: center;
    height: 35%;
    padding-top: 5px;
}



.ListSection .Info .PosterInfo:hover > .StreamingInfo {
    display: contents;
    margin-top: 255px;
    margin-right: auto;
    margin-left: auto;
}

.StreamingInfo .section-content {
    width: 130%;
}

.StreamingInfo .section-title {
    flex: 1;
    align-items: center;
    width: 75%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

.StreamingInfo .section-title h2 {
    margin: 0;
    font-weight: bold;
    text-align: center;
}


.StreamingInfo #streaming .StreamingList {
    float: right;
    width: 100%;
    height: 90%;
}

#streaming .StreamingList .List-Cat {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

#streaming .List-Cat h3 {
    font-size: 20px;
    color: white;
    margin-left: 5px;
}

#streaming .List-Cat img {
    height: 40px;
    width: 40px;
    margin-bottom: 5px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 10px;
}

#streaming .List-Cat .Free-Streaming:hover {
    cursor: pointer;
    -webkit-backdrop-filter: revert;
    backdrop-filter: revert;
    background-image: linear-gradient(to bottom right, #f02811, #F9A647);
}

#streaming .List-Cat .Rent-Streaming:hover {
    cursor: pointer;
    -webkit-backdrop-filter: revert;
    backdrop-filter: revert;
    background-image: linear-gradient(to bottom right, #f02811, #F9A647);
}

#streaming .List-Cat .Buy-Streaming:hover {
    cursor: pointer;
    -webkit-backdrop-filter: revert;
    backdrop-filter: revert;
    background-image: linear-gradient(to bottom right, #f02811, #F9A647);
}

#streaming .List-Cat .Free-Streaming {
    height: 33%;
    border-bottom: 1px solid white;
    padding-top: 8px;
    padding-bottom: 8px;
}

#streaming .List-Cat .Rent-Streaming {
    height: 33%;
    border-bottom: 1px solid white;
    padding-top: 8px;
    padding-bottom: 8px;
}

#streaming .List-Cat .Buy-Streaming {
    height: 33%;
    padding-top: 8px;
    padding-bottom: 8px;
}

