@charset "UTF-8";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img, embed,
object, video {
    max-width: 100%;
}

html{
    height: 100%;
}

body{
    /*background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);*/   
    background-color: black;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.Flex-Container {
    width: 100%;
    height: 90%;
    margin: auto;
    font-family: sans-serif;
}

.Flex-Grid {
    display: flex;
}

/* Navbar */

.SideNav {
    height: 90%;
    width: 15%;
    flex-direction: column;
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    flex: 1;
    overflow: hidden;
}

.SideNav .NavContent-Box {
    height: 100%;
    padding-top: 20px;
    align-items: stretch;
    flex-direction: column;
    display: flex;
    position: relative;
}

.SideNav .NavContent-Box .NavContent {
    height: 100%;
    width: 235px;
    margin-left: 40px;
    align-items: stretch;
    flex-direction: column;
    display: flex;
    position: relative;
}

.NavContent-Box .NavContent .Nav-Logo {
    height: 10%;
    margin: auto;
}

.NavContent-Box .NavContent .Nav-Logo a {
    text-decoration: none;
}

.NavContent-Box .NavContent .Nav-Logo img {
    height: 70px;
    padding-top: 10px;
}




.NavContent nav {
    height: 90%;
}

.NavContent .Nav-Options {
    height: 87%;
}

.NavContent .Nav-Options a {
    padding: 12px 10px 10px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #6d44a8;
    display: block;
}

.NavContent .Nav-Options a:hover {
    color: #f96b2e;
    border: .5px solid #f96b2e;
    border-radius: 20px;
}

.NavContent nav a i {
    width: 30px;
}

.NavContent .Nav-Options .UserLists {
    height: 58%;
}





.NavContent-Box .NavContent .Nav-UserLogin {
    width: 100%;
    height: 13%;
    float: left;
    font-size: 18px;
}

.NavContent-Box .NavContent .Nav-UserLogin p {
    margin-bottom: 0px;
    margin-top: 0px;
}


.NavContent-Box .NavContent .Nav-UserLogin #ellipsis {
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
}

.NavContent-Box .NavContent .Nav-UserLogin #ellipsis i {
    width: 35px;
    font-size: 12px;
}


.NavContent-Box .NavContent .Nav-UserLogin a {
    padding: 10px 10px 10px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: #6d44a8;
    display: block;
}

.NavContent-Box .NavContent .Nav-UserLogin a:hover {
    color: #f96b2e;
}


.NavContent-Box .NavContent .Nav-UserLogin img {
    padding: 12px 0px 10px 30px;
    margin-top: 20px;
    height: 100px;
    width: 100px;
    float: left;
    cursor: pointer;
    object-fit: cover;
}







.MainContainer {
    height: 100%;
    width: 70%;
    margin: auto;
    color: white;
    position: relative;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    z-index: 0;
}




/* Search Bar */
.Search {
    width: 100%;
    height: 135px;
    margin-left: 5px;
    position: relative;
    display: flex;
    float: right;
    flex-basis: auto;
    flex-direction: row;
    z-index: 0;
}

.Search .SearchForm {
    width: 100%;
    margin: auto;
    max-width: 790px;
    box-sizing: border-box;
    padding-top: 30px;
}

/* Search Bar */

.SearchForm .MainSearch {
    height: 50px;
    overflow: hidden;
    border-radius: 13px;
    margin-bottom: 15px;
    position: relative;
    display: flex;
}

.SearchForm .MainSearch .SearchInput {
    width: 90%;
    height: 45px;
    float: left;
    border-left: 3px solid #6d44a8;
    border-top: 3px solid #6d44a8;
    border-bottom: 3px solid #6d44a8;
    border-right: none;
    border-radius: 10px 0 0 10px;
    outline: none;
}

.SearchInput input {
    padding: 10px 80px 10px 40px;
    border: none;
    display: block;
    width: 100%;
    font-size: 20px;
    height: 45px;
    font-style: normal;
    color: white;
    border-right: none;
    background-color: initial;
    overflow: visible;
}

.SearchInput input:focus{
    outline: none;
}

.MainSearch .SearchIcon {
    float: right;
    width: 10%;
    align-items: center;
    height: 45px;
}

.MainSearch .SearchIcon button {
    background: #6d44a8;
    height: 45px;
    width: 100%;
    border: 1px solid #6d44a8;
    border-radius: 0 10px 10px 0;
}

.MainSearch .SearchIcon i {
    font-size: 25px;
    margin: auto;
}






.MainContainer .MainContent {
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
    border-right: 1px solid #6d44a8;
    border-left: 1px solid #6d44a8;
}





.RightSideBar {
    height: 90%;
    width: 15%;
    flex-direction: column;
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow: hidden;
}


/* Footer */
footer {
    height: 10%;
    width: 100%;
    margin: 0px;
    text-align: center;
}

footer.row {
    margin: 0px;
}

footer p {
    padding-top: 65px;
}
