@charset "UTF-8";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img, embed,
object, video {
    max-width: 100%;
}

html{
    height: 100%;
}

body{
    /*background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);*/   
    background-color: black;
    margin: 0px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */

.SideNav {
    height: 100%;
    width: 300px;
    flex-direction: column;
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 20px;
}

.SideNav .NavContent-Box {
    width: 275px;
    height: 100%;
    margin-left: 25px;
    align-items: stretch;
    flex-direction: column;
    display: flex;
    position: relative;
}

.SideNav .NavContent-Box .NavContent {
    height: 100%;
    width: 240px;
    margin-left: 35px;
    align-items: stretch;
    flex-direction: column;
    display: flex;
    position: relative;
}

.NavContent-Box .NavContent .Nav-Logo {
    height: 10%;
}

.NavContent-Box .NavContent .Nav-Logo a {
    text-decoration: none;
}

.NavContent-Box .NavContent .Nav-Logo img {
    height: 80px;
    padding-top: 20px;
    padding-left: 20px;
}




.NavContent nav {
    height: 90%;
}

.NavContent .Nav-Options {
    height: 75%;
}

.NavContent .Nav-Options a {
    padding: 12px 0px 10px 30px;
    text-align: justify;
    text-decoration: none;
    font-size: 25px;
    color: #6d44a8;
    display: block;
}

.NavContent .Nav-Options a:hover {
    color: #f96b2e;
    border: .5px solid #f96b2e;
    border-radius: 20px;
}

.NavContent nav a i {
    width: 35px;
}

.NavContent .Nav-Options .UserLists {
    height: 58%;
}





.NavContent-Box .NavContent .Nav-UserLogin {
    height: 25%;
    font-size: 23px;
}

.NavContent-Box .NavContent .Nav-UserLogin #ellipsis {
    text-align: center;
    width: 100%;

}

.NavContent-Box .NavContent .Nav-UserLogin #ellipsis i {
    width: 35px;
    font-size: 15px;
}

.NavContent-Box .NavContent .Nav-UserLogin a {
    padding: 12px 0px 10px 30px;
    text-align: justify;
    text-decoration: none;
    font-size: 25px;
    color: #6d44a8;
    display: block;
}

.NavContent-Box .NavContent .Nav-UserLogin a:hover {
    color: #f96b2e;
}


.NavContent-Box .NavContent .Nav-UserLogin img {
    padding: 12px 0px 10px 30px;
    margin-top: 20px;
    height: 100px;
    width: 100px;
    float: left;
    cursor: pointer;
    object-fit: cover;
}


.NavContent-Box .NavContent .Nav-UserLogin p {
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}






.MainContainer{
    height: 90%;
    position: relative;
    margin-left: 300px;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    z-index: 0;
}





/* Search Bar */
.MainContainer .Search {
    height: 80px;
    width: 100%;
    text-align: center;
}

.MainContainer .Search .SearchSection{
    width: 80%;
    height: 60px;
    text-align: center;
    margin-left: 10%;
}

.Search .SearchSection .SearchBar{
    width: 70%;
    margin-left: 15%;
    text-align: center;
    height: 50px;
    border: white 2px solid;
    border-right: none;
    border-radius: 22px;
}

.SearchBar #searchbar{
    width: 92%;
    height: 50px;
    font-size: 30px;
    color: white;
    float: left;
    text-align: center ;
    background-color: transparent;
    border: none;
    outline: none;
}

.SearchBar #logoSearch{
    width: 6%;
    float: right;
    background-color: white;
    border-radius: 20px;
}



/* Footer */
footer{
    height: 10%;
    text-align: center;
    width: 95%;
    margin-left: 2%;
}

footer p{
    padding-top: 65px;
}
