{% extends "app/layout.html" %}

{% block maincontent %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'content\credits\creditsdetails.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'content\slider.css' %}">
</head>

<div class="row TopInfoBar">
    <div id=name>
        {{ details.name }}
    </div>
    <div class="Depts">
        <div id="knownfor">
            {% if details.known_for_department == 'Acting' %}
                <p>Actor ({{ castamt }} credits)</p>
            {% endif %}
            {% if details.known_for_department == 'Writing' %}
                <p>Writer</p>
            {% endif %}
            {% if details.known_for_department == 'Producing' %}
                <p>Producer </p>
            {% endif %}
        </div>
    </div>
</div>

<div class="row MainSection">

    <div class="col-3 PosterInfo">

        <img id="profpic" src="https://image.tmdb.org/t/p/original/{{ details.profile_path }}">
        <br>

        <div class="Info">
            <div id="left">
                <div id="hometown">
                    Hometown:<br>
                    &#8195;{{ details.place_of_birth }}
                </div>
                <div id="bday">
                    DOB:<br>
                    &#8195;{{ bday }} ({{ age }})
                </div>
            </div>
        </div>
    </div>


    <div class="col-9 KnownForBio">

        <div class="row KnownForCredits">
            <div class="Credits-Container">
                {% for c in knownfor %}
                <div class="Card">
                    {% if c.character != 'Self' %}
                    <img id="posterpic" src="https://image.tmdb.org/t/p/original/{{ c.poster_path }}">

                    <div class="Bar">
                        <p>{{ c.character|slice:30 }}</p>
                        <div class="FilledBar"></div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="row Bio">
            Biography:
            <span id="bio">{{ details.biography|linebreaks }}</span>
        </div>

    </div>

</div>


<div class="CreditsSections">
    
    <div class="Movies">
        <h2>Acting</h2>
            {% regroup mc by release_date|slice:4 as mc_list %}

                <div class="MovieList">

                    <div class="row ListRow">
                        {% for release_date in mc_list %}
                        <div class="col-2 GroupYear"> 
                            {{ release_date.grouper }}
                        </div>
                        <div class="col-10 Info">
                                {% for movie in release_date.list %}
                                    <ul>{{movie.title}}</ul>
                                {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>

    </div>

    <div class="TV">


    </div>

    <div class="Other">

    </div>

</div>

<script src="{% static 'scripts\credits\creditsdetails.js' %}"></script>

{% endblock %}