{% extends "app/layout.html" %}

{% block maincontent %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'content\credits\creditsdetails.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'content\movies\cast-slider.css' %}">
</head>

<div class="row TopInfoBar">
    <div id=name>
        {{ details.name }}
    </div>
    <div class="Depts">
        <div id="knownfor">
            {% if details.known_for_department == 'Acting' %}
                <p>Actor</p>
            {% endif %}
            {% if details.known_for_department == 'Writing' %}
                <p>Writer</p>
            {% endif %}
            {% if details.known_for_department == 'Producing' %}
                <p>Producer</p>
            {% endif %}
        </div>
    </div>
</div>

<div class="row MainSection">

    <div class="col-3 PosterInfo">

        <img id="profpic" src="https://image.tmdb.org/t/p/original/{{ details.profile_path }}">
        <br>

        <div class="Info">
            <div id="left">
                <div id="bday">
                    DOB: {{ details.birthday }}
                </div>
            </div>

            <div id="right">
                
            </div>
        </div>
    </div>


    <div class="col-9 KnownForSummary">


    </div>

</div>




{% endblock %}