{% extends "app/layout.html" %}

{% block maincontent %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'content\users\profilePage.css' %}">
</head>

<div class="col-4 ProfileForm">

    <div class="ProfPic" id="profpic">
       	<img class="rounded-circle account-img" src="{{ user.profile.profpic.url }} " height="50px" width="50px" style="cursor: pointer;"/>
    </div>

    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ user_form }}

            {% for x in profile_form.streaming_services %}
            {{ x }}
            {% endfor %}

            <br><br>
            
            <div class="EditDelete">
                <input type="submit" name="edit" id="EditEmpButton" value="Update">

                <input type="submit" name="delete" id="deleteEmpButton" value="Delete">    
            </div>
        </form>
    </div>

</div>

<!--

<div class="col-8 SavedArticles">
    <h2>Bookmarked Posts</h2>
    
    <div class="row">

        {% for post in new %}

            <div class="col" id="saved-Post">
                <a href="{% url 'post-detail' post.slug %}">
                    <img class="Saved-Img" src="{{ post.cover_img.url }}"/>

                    <div class="Saved-PostContent">
                        <h3 class="Saved-PostTitle">{{ post.title }}</h3>
                        <p class="Saved-PostSummary">{{ post.summary }}</p>
                    </div>
                </a>
            </div>
            
            <div id="favourite-section">
                <a href="{% url 'fav-add' post.id %}" class="btn btn-outline-primary">Remove</a>
            </div>

        {% endfor %}

    </div>
    
</div>

-->

{% endblock %}