/*.CreditsSections .Movies .container {
    height: 200px;
    width: 95%;
    float: right;
    background-image: linear-gradient(to bottom right, #f02811, #F9A647);
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 4px 16px;
}

.CreditsSections .Movies .cards-container {
    height: 200px;width: 100%;
}
*/
.CreditsSections .Movies .cards {
    height: 200px;
    display: inline-block;
}

.CreditsSections .Movies .card {
    background: rgba(255, 255, 255, .25);
    height: 190px;
    margin: 5px;
    display: inline-flex;
    border: 1px solid rgb(255 255 255 / 35%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 150px;
    border-radius: 20px;
}

.CreditsSections .Movies .card:hover {
    -webkit-box-shadow: 0px 0px 2px 3px rgb(255 255 255 / 35%);
    box-shadow: 0px 0px 2px 3px rgb(255 255 255 / 35%);
    cursor: pointer;
}

.CreditsSections .Movies .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    padding: 4px;
    border-radius: 20px;
    transition: flex 0.7s ease-in-out;
}

.CreditsSections .Movies .card .info-container, h4 {
    display: none;
}

.CreditsSections .Movies .card:hover .info-container {
    display: block;
    transition: flex 0.3s ease-in-out;
    background: rgb(109 68 168 / 100%);
    height: 90%;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    opacity: .9;
    border-radius: 20px;
}

.CreditsSections .Movies .card:hover h4 {
    display: inline-block;
    height: auto;
    padding-top: 10px;
    margin: auto;
    color: white;
    text-align: center;
}
