
.TopInfoBar {
	height: 120px;
}

.TopInfoBar #name {
	padding-left: 15px;
	font-weight: 800;
	height: 70px;
	font-size: 50px;
}

.TopInfoBar .Depts {
	height: 50px;
}

.TopInfoBar .Depts #knownfor {
	font-size: 20px;
	padding-left: 25px;
	font-weight: 500;
}




.MainSection {
	height: 550px;
	width: 98%;
	margin: auto;
}




.MainSection .PosterInfo {
	height: 100%;
	padding-right: 0px;
}

.MainSection .PosterInfo #profpic {
	height: 450px;
	width: 95%;
	object-fit: fill;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.PosterInfo .Info {
	height: 100px;
	width: 95%;
	font-size: 12px;
	background-color: #1e1f1e;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.PosterInfo #left {
	height: 100px;
	font-size: 15px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
}



.KnownForBio .KnownForCredits {
	width: 100%;
	height: 300px;
}

.KnownForCredits #posterpic {
	height: 80%;
	width: inherit;
	object-fit: fill;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}




.KnownForBio .Bio {
	height: 220px;
	overflow-y: scroll;
  	scroll-behavior: smooth;
}

  /* Firefox */
 .KnownForBio .Bio {
    scrollbar-width: thin;
    scrollbar-color: #f96d2d #000000;
}

  /* Chrome, Edge, and Safari */
.KnownForBio .Bio::-webkit-scrollbar {
    width: 10px;
}

.KnownForBio .Bio::-webkit-scrollbar-track {
    background: #000000;
  }

.KnownForBio .Bio::-webkit-scrollbar-thumb {
    background-color: #f96d2d;
    border-radius: 5px;
}




.CreditsSections {
  	height: 100%;
  	width: 90%;
  	margin: auto;
}

.CreditsSections .Movies {
  	height: 100%;
  	width: 80%;
  	margin: auto;
}

.CreditsSections .Movies .GroupYear {
  	height: 200px;
}