
.TopInfoBar {
	height: 120px;
}

.TopInfoBar #name {
	padding-left: 15px;
	font-weight: 800;
	height: 70px;
	font-size: 50px;
}

.TopInfoBar .Depts {
	height: 50px;
}

.TopInfoBar .Depts #knownfor {
	font-size: 20px;
	padding-left: 25px;
	font-weight: 500;
}




.MainSection {
	height: 585px;
	width: 98%;
	margin: auto;
}




.MainSection .PosterInfo {
	height: 100%;
	padding-right: 0px;
}

.MainSection .PosterInfo #profpic {
	height: 450px;
	width: 95%;
	object-fit: fill;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.PosterInfo .Info {
	height: 100px;
	width: 95%;
	font-size: 12px;
	background-color: #1e1f1e;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.PosterInfo #left {
	height: 100px;
	font-size: 15px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
}







.KnownForBio .KnownForCredits {
	width: 100%;
	height: 300px;
}

.KnownForCredits #posterpic {
	height: 80%;
	width: inherit;
	object-fit: fill;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}







.KnownForBio .Bio {
	height: 220px;
	overflow-y: scroll;
  	scroll-behavior: smooth;
}

  /* Firefox */
 .KnownForBio .Bio {
    scrollbar-width: thin;
    scrollbar-color: #f96d2d #000000;
}

  /* Chrome, Edge, and Safari */
.KnownForBio .Bio::-webkit-scrollbar {
    width: 10px;
}

.KnownForBio .Bio::-webkit-scrollbar-track {
    background: #000000;
  }

.KnownForBio .Bio::-webkit-scrollbar-thumb {
    background-color: #f96d2d;
    border-radius: 5px;
}







.CreditsSections {
  	height: 100%;
  	width: 95%;
  	margin: auto;
}



.CreditsSections .CreditSearch {
	height: 150px;
	padding-top: 35px;
}

.CreditsSections .CreditSearch p {
	width: 25%;
	float: left;
	margin: revert;
	font-weight: bold;
	color: white;
	font-size: 25px;
	text-align: center;
}

.CreditsSections .CreditSearch ::selection {
   background: #212129;
}

.CreditsSections .CreditSearch .search-wrapper {
    position: inherit;
    float: right;
    transform: translate(-5%, 20%);
    margin-right: 10%;
}
.CreditsSections .CreditSearch .search-wrapper.active {}

.CreditsSections .CreditSearch .search-wrapper .input-holder {    
    width: 55px;
    height: 55px;
    overflow: hidden;
    background: #6D44A8;
    border-radius: 30px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.CreditsSections .CreditSearch .search-wrapper.active .input-holder {
    width: 450px;
    border-radius: 50px;
    background: #6D44A8;
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}

.CreditsSections .CreditSearch .search-wrapper .input-holder .search-input {
    width: 100%;
    height: 50px;
    padding: 0px 70px 0 20px;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family:"Open Sans", Arial, Verdana;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: white;
    transform: translate(0, 60px);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.3s;
}

.CreditsSections .CreditSearch .search-wrapper.active .input-holder .search-input {
    opacity: 1;
    transform: translate(0, 10px);
}

.CreditsSections .CreditSearch .search-wrapper .input-holder .search-icon {
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 30px;
    background: #FFF;
    padding: 0px;
    outline: none;
    position: relative;
    z-index: 2;
    float: right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.CreditsSections .CreditSearch .search-wrapper.active .input-holder .search-icon {
    width: 55px;
    height: 55px;
    border-radius: 30px;
}

.CreditsSections .CreditSearch .search-wrapper .input-holder .search-icon span {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transform: rotate(45deg);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}

.CreditsSections .CreditSearch .search-wrapper.active .input-holder .search-icon span {
    transform: rotate(-45deg);
}

.CreditsSections .CreditSearch .search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
    position: absolute; 
    content:'';
}

.CreditsSections .CreditSearch .search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 11px;
    left: 9px;
    top: 18px;
    border-radius: 2px;
    background: #FE5F55;
}

.CreditsSections .CreditSearch .search-wrapper .input-holder .search-icon span::after {
	width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 4px solid #FE5F55;
}

.CreditsSections .CreditSearch .search-wrapper .close {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition-delay: 0.2s;
}

.CreditsSections .CreditSearch .search-wrapper.active .close {
    right: -50px;
    transform: rotate(45deg);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.5s;
}

.CreditsSections .CreditSearch .search-wrapper .close::before, .search-wrapper .close::after {
    position: absolute;
    content:'';
    background: #FE5F55;
    border-radius: 2px;
}

.CreditsSections .CreditSearch .search-wrapper .close::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0px;
}

.CreditsSections .CreditSearch .search-wrapper .close::after {
    width: 25px;
    height: 5px;
    left: 0px;
    top: 10px;
}





.CreditsSections .Movies {
  	height: 100%;
  	width: 95%;
  	margin: auto;
}

.CreditsSections .Movies .ListRow {
	height: 100%;
	width: 100%;
}

.CreditsSections .Movies .GroupYear {
	height: 240px;
	display: inline-flex;
	border-radius: 15px;
    backdrop-filter: blur(10px) saturate(130%);
    -webkit-backdrop-filter: blur(10px) saturate(130%);
    background-color: rgb(73 6 203 / 20%);
    border: 2px solid rgba(255, 255, 255, 0.125);
}


.CreditsSections .Movies .GroupYear .title {
	float: left;
	width: 100%;
	height: 230px;
	padding-left: 10px;
	text-align: center;
	writing-mode: vertical-rl;
    text-orientation: upright;
}

.CreditsSections .Movies .GroupYear p {
	font-weight: bold;
	font-size: 35px;
}

