{% extends "app/layout.html" %}

{% block maincontent %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'content\movies\movie-details.css' %}">
</head>

<div class="row TopInfoBar">
    <div class="MovieInfo">
        <h1 id="title">{{ movobj.title }}</h1>
        <!-- Figure out Liking system: Boolean or 1-5 Stars? -->
        <p> 
            <div id="year">{{ movobj.release_date|slice:4 }}</div>

            <div id="rating"> 
                {{ r.Rated }}
            </div>

            <div id="genre">
                {% for g in movobj.genres %}
                    {{ g.name }} |  
                {% endfor %}
            </div>

            <div id="bookmark">
                <i class="far fa-plus-square"> </i>
            </div>
        </p>
    </div>

    <div class="ReviewScores">
        <div class="Ratings">
            {% for rating in r.Ratings %}
                    {% if rating.Source == 'Internet Movie Database' %}
                        <p>
                            <img id="imbdLogo" alt="imbdLogo" src="{% static 'images\logos\Imdb.png' %}" style="height: 20px; width: 30px">
                            {{ rating.Value }}
                        </p>
                    {% endif %}

                    {% if rating.Source == 'Rotten Tomatoes' %} 
                        <p>
                            <img id="imbdLogo" alt="imbdLogo" src="{% static 'images\logos\RT.svg.png' %}" style="height: 35px; width: 30px">
                            {{ rating.Value }}
                        </p>
                    {% endif %}

                    {% if rating.Source == 'Metacritic' %}
                        <p>
                            <img id="imbdLogo" alt="imbdLogo" src="{% static 'images\logos\index.png' %}" style="height:35px; width: 30px;">
                            {{ rating.Value }}
                        </p>
                    {% endif %}
            {% endfor %}
        </div>

<!-- ADD USER RATINGS AND STUFF UNDER: AUTH_REQUIRED -->


    </div>

</div>




<div class="row MainSection">

    <div class="col-5 PosterInfo">

        <div class="DirWriters">
            <img id="moviePoster" src="https://image.tmdb.org/t/p/original/{{ movobj.poster_path }}">
            <br>

            <div class="Info">
                <div id="dir">
                    Director(s) <br>
                    {{ r.Director }}               
                </div>

                <div id="writers">
                    Screenplay <br> 
                    {% for s in credits.crew %}
                        {% if s.known_for_department == 'Writing' %}
                            {{ s.name }} <br>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>

        <div class="TrailerDir">
            <div id="trailer">
               <button onclick="window.open('')">
                <h3>Trailer</h3> 
                <img id="playLogo" alt="playlogo" src="{% static 'images\FinalLogos\playbutton-removebg-preview.png' %}"></button>
            </div>

        </div>

    </div>

    <div class="col-7 StreamingServices">
        <div class="Free-Streaming">
            <h3>Free</h3>
            {% for free in us_streaming.flatrate %}
                {% if free.display_priority <= 11 %}
                    <img id="moviePoster" src="https://image.tmdb.org/t/p/original/{{  free.logo_path  }}">
                    {{ free.provider_name }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="Rent-Streaming">
            <h3>Rent</h3>
            {% for rent in us_streaming.rent %}
                {% if rent.display_priority <= 11 %}
                    <img id="moviePoster" src="https://image.tmdb.org/t/p/original/{{  rent.logo_path  }}">
                    {{ rent.provider_name }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="Buy-Streaming">
            <h3>Purchase</h3>
            {% for buy in us_streaming.buy %}
                {% if buy.display_priority <= 11 %}
                    <img id="moviePoster" src="https://image.tmdb.org/t/p/original/{{  buy.logo_path  }}">
                    {{ buy.provider_name }}
                {% endif %}
            {% endfor %}
        </div>


    </div>



</div>



<div class="row Cast">

</div>


<div class="row AddInfo">


</div>


<div class="row Recommendations">

</div>


{% endblock %}