{% extends "app/layout.html" %}

{% block maincontent %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'content\movies\movie-details.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'content\movies\cast-slider.css' %}">
</head>

<div class="row TopInfoBar" style="background-image: url(https://image.tmdb.org/t/p/original/{{ details.backdrop_path }});">
    
    <div class="Title">
        <h1 id="title">{{ r.Title }}</h1>
    </div>
    
    <div class="TvInfo">
        <div id="rating"> 
            {{ r.Rated }}
        </div>

        <div id="runtime">
            ~ {{ r.Runtime }}
        </div>

        <div id="year">{{ r.Year }}</div>

        <div id="genre">
            {% for g in details.genres %}
                {{ g.name }} |  
            {% endfor %}
        </div>
    </div>

    <div class="ReviewScores">
        <ul class="Ratings">
            {% for rating in r.Ratings %}
                    {% if rating.Source == 'Internet Movie Database' %}
                        <li>
                            <img id="imbdLogo" alt="imbdLogo" src="{% static 'images\logos\Imdb.png' %}"> <br>
                            <p>{{ rating.Value }}</p>
                        </li>
                    {% endif %}

                    {% if rating.Source == 'Rotten Tomatoes' %} 
                        <li>
                            <img id="imbdLogo" alt="imbdLogo" src="{% static 'images\logos\RT.svg.png' %}"> <br>
                            <p>{{ rating.Value }}</p>
                        </li>
                    {% endif %}

                    {% if rating.Source == 'Metacritic' %}
                        <li>
                            <img id="imbdLogo" alt="imbdLogo" src="{% static 'images\logos\index.png' %}"> <br>
                            <p>{{ rating.Value }}</p>
                        </li>
                    {% endif %}
            {% endfor %}
        </ul>

<!-- ADD USER RATINGS AND STUFF UNDER: AUTH_REQUIRED -->


    </div>

</div>




<div class="row MainSection">

    <div class="col-3 PosterInfo">

            <img id="moviePoster" src="{{ r.Poster }}">
            <br>

            <div class="Info">
                <div id="dir">
                    <p id="title">Director(s)</p>
                    {% for d in credits.crew|slice:":3" %}
                        {% if d.known_for_department == 'Directing' %}
                            {{ d.name }} <br>
                        {% endif %}
                    {% endfor %}               
                </div>

                <div id="writers">
                    <p id="title">Screenplay</p>
                    {% for s in credits.crew %}
                        {% if s.known_for_department == 'Writing' %}
                            {{ s.name }} <br>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>


    </div>


    <div class="col-9 SummaryStreaming">

        <div class="UserActions">
            <div class="User">
                <h3>You:</h3>
                <ul id="actions">
                    <li><i class="fa-regular fa-bookmark"></i></li>
                    <li><i class="fa-regular fa-heart"></i></li>
                    <li><i class="fas fa-heart-broken"></i></li>
                    <li><i class="fa-regular fa-star"></i></li>
                </ul>
            </div>

            <div class="Friends">
                <h3>Friends:</h3>
                <ul id="actions">
                    <li><i class="fa-regular fa-bookmark"></i></li>
                    <li><i class="fa-regular fa-heart"></i></li>
                    <li><i class="fas fa-heart-broken"></i></li>
                    <li><i class="fa-regular fa-star"></i></li>
                </ul>
            </div>
        </div>

        <div class="StreamingServices">
<!--            
<iframe width="1403" height="788" src="https://www.youtube.com/watch?v={{t.key}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; gyroscope; picture-in-picture" allowfullscreen></iframe>

https://youtu.be/zsrdBGr8NIk

-->

            <ul>

                <li>
                    <div class="section-title">
                        <h2>Trailer</h2>
                    </div>
                    <div class="section-content">
                        
                    </div>
                </li>

                <li class="active" id="streaming">

                    <div class="section-title">
                        <h2>Streaming</h2>
                    </div>

                    <div class="section-content">
                        <div class="StreamingList">

                            <div class="List-Cat">
                                <div class="Free-Streaming">
                                    <h3>Free</h3>
                                    {% for free in us_streaming.flatrate %}
                                        {% if free.display_priority <= 11 %}
                                            <img id="moviePoster" src="https://image.tmdb.org/t/p/original/{{ free.logo_path }}">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="Rent-Streaming">
                                    <h3>Rent</h3>
                                    {% for rent in us_streaming.rent %}
                                        {% if rent.display_priority <= 11 %}
                                            <img id="moviePoster" src="https://image.tmdb.org/t/p/original/{{ rent.logo_path }}">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="Buy-Streaming">
                                    <h3>Purchase</h3>
                                    {% for buy in us_streaming.buy %}
                                        {% if buy.display_priority <= 11 %}
                                            <img id="moviePoster" src="https://image.tmdb.org/t/p/original/{{ buy.logo_path }}">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>    

                        </div>
                    </div>
                </li>

            </ul>

        </div>

        <div class="Summary">
            <h2>Synopsis</h2>
            <div id="text">
                {{ details.overview }}
            </div>
        </div>        
    </div>



</div>



<div class="row Cast">

    <div class="CastSearch">
        <p>Cast & Crew</p>
        
        <div class="search-wrapper">
            <div class="input-holder">
                <input type="text" id="myInput" onkeyup="myFunction()" class="search-input" placeholder="Search..." />
                <button class="search-icon" onclick="searchToggle(this, event);">
                    <i class="fas fa-search" style="font-size: 25px; color: #f97c32"></i>
                </button>
            </div>
            <span class="close" onclick="searchToggle(this, event);"></span>
        </div>

    </div>

  <div class="container">

    <div id="slide-left-container">
      <div class="slide-left">
      </div>
    </div>

    <div id="cards-container">
    
      <div class="cards" id="cards">
        {% for c in credits.cast %}
            <div class="card" id="card">
              <img id="tvPoster" src="https://image.tmdb.org/t/p/original/{{ c.profile_path }}" style="width:100%; height: 185px;">
              <div class="container">
                <h4>
                  <b style="font-size: 20px">{{ c.name }}</b>
                  <i style="font-size: 18px">{{ c.character|slice:20 }} ... </i>
                </h4>
              </div>
            </div>
        {% endfor %}
        {% for cr in credits.crew %}
            <div class="card" id="card">
              <img id="tvPoster" src="https://image.tmdb.org/t/p/original/{{ cr.profile_path }}" style="width:100%; height: 185px;">
              <div class="container">
                <h4>
                  <b style="font-size: 20px">{{ cr.name }}</b>
                  <i style="font-size: 18px">{{ cr.job|slice:20 }} ... </i>
                </h4>
              </div>
            </div>
        {% endfor %}
      </div>

        
    </div>

    <div id="slide-right-container">
      <div class="slide-right">
      </div>
    </div>


  </div>


</div>

<!-- REDO query so that the collectionid = imdbapi id
    for better data -->

<div class="SeriesInfo">

    <div class="col-2 SeriesSummary">        
            <div class="title"><p>{{ seriesid.name }}</p></div>
    </div>

    <div class="col-10 SeriesContent">
        <div class="gallery-wrap">
            {% for s in seriesid.parts %}
                <div class="item" style="background-image: url(https://image.tmdb.org/t/p/original/{{ s.backdrop_path }}); background-position: center; background-size: cover;-">
                    <div id="summary">
                        <h2>{{ s.title }}</h2>
                        <p>
                            {% if s.overview|length > 175 %}
                                {{ s.overview|slice:175 }} ... 
                            {% else %}
                                {{ s.overview }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

</div>









<script src="{% static 'scripts\moviedetails.js' %}"></script>



{% endblock %}