{% extends "app/layout.html" %}

{% block maincontent %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'content\movies\movie-details.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'content\cast-slider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'content\series-card-slider.css' %}">

</head>



<div class="Img-Wrapper" style="background-image: linear-gradient(transparent, black 100%), url(https://image.tmdb.org/t/p/original/{{ details.backdrop_path }})">

<div class="row TopInfoBar">
    
    <div class="Title">
        <div class="TitleTab">
            <h1 id="title">{{ r.Title }}</h1>
        </div>
    </div>
    
    <div class="MovieInfo">
        <div id="rating"> 
            {{ r.Rated }}
        </div>

        <div id="runtime">
            {{ hours_runtime }}
        </div>

        <div id="year">{{ r.Year }}</div>

        <div id="genre">
            {% for g in details.genres %}
                {{ g.name }} |  
            {% endfor %}
        </div>
    </div>

    <div class="ReviewScores">
        <ul class="Ratings">
            {% for rating in r.Ratings %}
                    {% if rating.Source == 'Internet Movie Database' %}
                        <li>
                            <img id="imbdLogo" alt="imbdLogo" src="{% static 'images\logos\Imdb.png' %}"> <br>
                            <p>{{ rating.Value }}</p>
                        </li>
                    {% endif %}

                    {% if rating.Source == 'Rotten Tomatoes' %} 
                        <li>
                            <img id="imbdLogo" alt="imbdLogo" src="{% static 'images\logos\RT.svg.png' %}"> <br>
                            <p>{{ rating.Value }}</p>
                        </li>
                    {% endif %}

                    {% if rating.Source == 'Metacritic' %}
                        <li>
                            <img id="imbdLogo" alt="imbdLogo" src="{% static 'images\logos\index.png' %}"> <br>
                            <p>{{ rating.Value }}</p>
                        </li>
                    {% endif %}
            {% endfor %}
        </ul>

<!-- ADD USER RATINGS AND STUFF UNDER: AUTH_REQUIRED -->


    </div>

</div>


<div class="row MainSection">

    <div class="col-3 PosterInfo">

            <img id="moviePoster" src="{{ r.Poster }}">
            <br>

            <div class="Info">
                <div id="dir">
                    <p id="title">Director(s)</p>
                    {% for d in credits.crew|slice:":3" %}
                        {% if d.known_for_department == 'Directing' %}
                            <a href="/CreditsDetails/{{d.name}}">{{ d.name }}</a><br>
                        {% endif %}
                    {% endfor %}               
                </div>

                <div id="writers">
                    <p id="title">Screenplay</p>
                    {% for s in credits.crew %}
                        {% if s.known_for_department == 'Writing' %}
                            <a href="/CreditsDetails/{{s.name}}">{{ s.name }}</a> <br>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>


    </div>


    <div class="col-9 SummaryStreaming">

        <div class="UserActions">
            <div class="User">
                <h3>You:</h3>
                <ul id="actions">
                    {% if request.user.is_authenticated %}
                        {% csrf_token %}
                        <li><i class="far fa-plus-square"></i></li>
                        <li><i class="fa-regular fa-star"></i></li>

                        {% if fav %}
                            <a href="{% url 'fav-add-movie' details.id 1 %}" class="text-dark">
                                <li><i class="fa-regular fa-heart"></i></li>
                            </a>
                        {% else %}
                            <a class="Fav" href="{% url 'fav-add-movie' details.id 1 %}" class="text-dark">
                                <li><i class="fa-regular fa-heart"></i></li>
                            </a>
                        {% endif %}
                                        
                        <a href="{% url 'users-register' %}" class="Register">
                            <li><i class="fa-regular fa-bookmark"></i></li>
                        </a>
                    
                    {% else %}

                    <a href="{% url 'users-register' %}" class="Register">
                        <li><i class="far fa-plus-square"></i></li>
                    </a>
                    <a href="{% url 'users-register' %}" class="Register">
                        <li><i class="fa-regular fa-star"></i></li>
                    </a>
                    <a href="{% url 'users-register' %}" class="Register">
                        <li><i class="fa-regular fa-heart"></i></li>
                    </a>
                    <a href="{% url 'users-register' %}" class="Register">
                        <li><i class="fa-regular fa-bookmark"></i></li>
                    </a>
                    {% endif %}
                </ul>
            </div>

            <div class="Friends">
                <h3>Friends:</h3>
                <ul id="actions">
                    <li><i class="far fa-plus-square"></i></li>
                    <li><i class="fa-regular fa-star"></i></li>
                    <li><i class="fa-regular fa-heart"></i></li>
                    <li><i class="fa-regular fa-bookmark"></i></li>
                </ul>
            </div>
        </div>

        <div class="StreamingServices">
<!--            
<iframe width="1403" height="788" src="https://www.youtube.com/watch?v={{t.key}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; gyroscope; picture-in-picture" allowfullscreen></iframe>

https://youtu.be/zsrdBGr8NIk

-->

            <ul>

                <li>
                    <div class="section-title">
                        <h2>Trailer</h2>
                    </div>
                    <div class="section-content">
                        
                    </div>
                </li>

                <li class="active" id="streaming">

                    <div class="section-title">
                        <h2>Streaming</h2>
                    </div>

                    <div class="section-content">
                        <div class="StreamingList">
                            
                            <div class="List-Cat">
                                {% if us_streaming.flatrate == '' %}
                                    <div class="none" style="display: none;"></div>
                                {% else %}
                                <div class="Free-Streaming">
                                    <h3>Free</h3>
                                    {% for free in us_streaming.flatrate %}
                                        {% if free.display_priority%}
                                            <img id="moviePoster" src="https://image.tmdb.org/t/p/original/{{ free.logo_path }}">
                                        {% endif %}
                                    {% endfor %} 
    
                                    {% endif %}                                    
                                </div>                                    
                                <div class="Rent-Streaming">
                                    {% if us_streaming.rent == '' %}
                                        <div class="none" style="display: none;"></div>
                                    {% else %}
    
                                    <h3>Rent</h3>
                                    {% for rent in us_streaming.rent %}
                                        {% if rent.display_priority %}
                                            <img id="moviePoster" src="https://image.tmdb.org/t/p/original/{{ rent.logo_path }}">
                                        {% endif %}    
                                    {% endfor %}

                                    {% endif %}
                                </div>
                                <div class="Buy-Streaming">
                                    {% if us_streaming.buy == '' %}
                                        <div class="none" style="display: none;"></div>
                                    {% else %}
                                    <h3>Purchase</h3>
                                    {% for buy in us_streaming.buy %}
                                        {% if buy.display_priority %}
                                            <img id="moviePoster" src="https://image.tmdb.org/t/p/original/{{ buy.logo_path }}">
                                        {% endif %}
                                        
                                    {% endfor %}

                                    {% endif %}
                                </div> 
                                   
                            </div>   
                                
                        </div>
                    </div>
                </li>

                <li id="summary">
                    <div class="section-title">
                        <h2>Summary</h2>
                    </div>

                    <div class="section-content">
                        <div class="text">
                            {{ details.overview }}
                        </div>
                    </div>
                </li>

            </ul>

        </div>

    </div>

</div>

</div>

<div class="Cast">

    <div class="CastSearch">
        <p>Cast & Crew</p>
        
        <div class="search-wrapper">
            <div class="input-holder">
                <input type="text" id="searchInput" onkeyup="searchCast()" class="search-input" placeholder="Search..." />
                <button class="search-icon" onclick="searchToggle(this, event);">
                    <i class="fas fa-search" style="font-size: 25px; color: #f97c32"></i>
                </button>
            </div>
            <span class="close" onclick="searchToggle(this, event);"></span>
        </div>

    </div>

    <span class="container">

        <div id="cards-container">
        
        <div class="cards" id="cards">
            {% for c in credits.cast %}
            
            <div class="PosterInfo" id="posterinfo">
                <a href="/CreditsDetails/{{c.id}}">
                <div class="card" id="card">
                    <img id="profPoster" src="https://image.tmdb.org/t/p/original/{{ c.profile_path }}">
                    <div class="info-container">
                        <h4>
                            <b style="font-size: 15px">{{ c.name }}</b>
                        </h4>
                        <h4>
                            <i style="font-size: 12px">{{ c.character|truncatewords:3 }}</i>
                        </h4>
                    </div>
                </div>
                </a>
            </div>
            
            {% endfor %}
            {% for cr in credits.crew %}
            
            <div class="PosterInfo" id="posterinfo">
                <a href="/CreditsDetails/{{cr.id}}">
                <div class="card" id="card">
                    <img id="profPoster" src="https://image.tmdb.org/t/p/original/{{ cr.profile_path }}">
                    <div class="info-container">
                        <h4>
                            <b style="font-size: 15px">{{ cr.name }}</b></h4>
                            <h4><i style="font-size: 12px">{{ cr.department }}</i></h4>
                        
                    </div>
                </div>
                </a>
            </div>
            
            {% endfor %}
          </div>
            
        </div>

    </span>

</div>



<div class="SeriesInfo">
    {% if m in mov_seriesID == '' %}

        <div class="none" style="display: none";></div>

    {% else %}    
    <div class="SeriesContainer">


        <div class="SeriesSummary">        
            <div class="title"><p><b>{{ seriesid.name }}</b></p></div>
        </div>

        <span class="SeriesSection">

            <div class="Series-Container" id="series-cards-container">
            
              <div class="Series-Cards" id="series-cards">

                {% for s in seriesid.parts %}
                <a href="/MovieDetails/{{s.id}}">    
                    <div class="Series-Card" id="series-card">
                    
                        <img id="posterpic" src="https://image.tmdb.org/t/p/original/{{ s.poster_path }}">

                        <div class="Bar">
                            <h2>{{ s.title }} ({{ s.release_date|slice:":4" }})</h2>
                            <div class="FilledBar"></div>
                        </div>
                       
                    </div>
                </a>
                
              </div>

                {% endfor %}
            </div>
        </span>
    </div>
    {% endif %}
</div>


<script src="{% static 'scripts\moviedetails.js' %}"></script>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>


{% endblock %}