{% extends "app/layout.html" %}

{% block maincontent %}
{% load static %}


{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'content\playlists\create_playlist.css' %}">
</head>



{{create_pl.share}}



    <div class="form-content">
        <div class="container">

            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}


                    <h3>Create Playlist</h3>

                    <div class="form-row TopInfo">
                        <div class="Image">
                            <img class="cover-img" src="{{ create_pl.cover_img.url }}"> 
                            <input type="file" name="cover_img" class="form-control-file" accept="image/*" id="id_cover_img">
                        </div>
                        <div class="TopInput">
                            <div class="Title">
                                {{ create_pl.title }}
                            </div>
                             <div class="Desc">  
                            {{ create_pl.description }}
                            </div>
                        </div>

                    </div>
                    



                    <div class="form-row Options">
                        <div class="Comments">
                            <h4 id="comments">Comments Off</h4>
                            <label class="switch">
                                {{create_pl.comments_on}}
                                <span class="slider round comm" onclick="commentToggle()"></span>
                            </label>
                        </div>
                        <div class="Private">
                            <h4 id="private">Private On</h4>
                            <label class="switch">
                                {{create_pl.private}}
                                <span class="slider round private" onclick="privateToggle()"></span>
                            </label>
                        </div>

                        <div class="Friends">
                            <div class="AddFriends">
                                <h4 id="share">Share</h4>
                                <div class="search-wrapper">
                                    <div class="input-holder">
                                        <input type="text" id="searchInput" onkeyup="searchFriends()" class="search-input" placeholder="Search..." />
                                        <button class="search-icon" onclick="searchToggle(this, event);">
                                            <i class="fa-solid fa-user-plus" style="font-size: 15px; color: #f97c32"></i>
                                        </button>
                                    </div>
                                    <span class="close" onclick="searchToggle(this, event);"></span>
                                </div>
                                {% for follow in following %}
                                    {{follow.user.username}}
                                {% endfor %}    
                            </div>
                        </div>
                    </div>

                    <button name="save" class="col-md-12 btn" id="save">Save Playlist</button>

                </form>

            </div>

        </div>
     </div>


<script src="{% static 'scripts\create_playlist.js' %}"></script>


<script type="text/javascript">
$(document).ready(function() {
    $('#checkbox').change(function() {
        $.post("/create_playlist/", {
            id: '{{create_pl.user_pl_id}}', 
            private: this.checked,
            csrfmiddlewaretoken: '{{ csrf_token }}' 
        });
    });
}); 

function privateToggle(){
    var x = document.getElementById("private");
    if (x.innerHTML === "Private On") {
        x.innerHTML = "Private Off";
    } else {
        x.innerHTML = "Private On";
    }
}

function commentToggle(){
    var c = document.getElementById("comments");
    if (c.innerHTML === "Comments Off") {
        c.innerHTML = "Comments On";
    } else {
        c.innerHTML = "Comments Off";
    }
}

</script>                     


{% endblock %}



<!-- 
                                <select name="playlist_follows" multiple>
                                <div class="cardInfo" id="cardinfo">
                                    <option class="card">
                                        <div class="info-container">
                                            <img class="rounded-circle account-img" src="{{ friend.user.profpic.url }} " height="50px" width="50px" style="cursor: pointer;"/>
                                            <h4 id="username">@{{ follow.user.username }}</h4>
                                            <h4 id="name">{{ follow.user.first_name }} {{follow.user.last_name}}</h4>
                                        </div>
                                    </option>
                                </div></select>
-->