{% extends "app/layout.html" %}

{% block maincontent %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'content\playlists\edit_playlist.css' %}">
</head>




<div class="PlaylistWrapper">

<div class="PlaylistHeader">
    <div class="HeaderContainer">
        <form method="POST">
            {% csrf_token %} 
            <div class="HeaderBody">
                <div class="row Title">
                    <h1 id="title">{{ editform.title }}</h1>
                </div>

                <div class="row SocialInfo">
                    <p id="creator">
                        {{playlist.user.username}} | {{playlist.playlist_follows.count}} Favorites | 13 hours 12 min (500min) of supreme watching 
                    </p>
                </div> 

                <div class="row Desc">  
                    <p id="desc">{{ editform.description }}</p>
                </div> 
            
            </div>

            <div class="row UserOptions">
                <div class="Options">
                    <div class="TopOptions">
                    
                        <div class="Comments">
                            <h4 id="comments">Comments On</h4>
                            <label class="switch">
                                {{editform.comments_on}}
                                <span class="slider round comm-btn" onclick="commentToggle()"></span>
                            </label>
                        </div>
                        <div class="Private">
                            <h4 id="private">Private On</h4>
                            <label class="switch">
                                {{editform.private}}
                                <span class="slider round private-btn" onclick="privateToggle()"></span>
                            </label>
                        </div>

                        <br>
                        
                        <div class="Friends">
                            <div class="AddFriends">
                                <div class="search-wrapper">
                                    <div class="input-holder">
                                        <input type="text" id="searchInput" onkeyup="searchFriends()" class="search-input" placeholder="Search..." />
                                        <button class="search-icon" onclick="searchToggle(this, event);">
                                            <i class="fa-solid fa-user-plus" style="font-size: 15px; color: #f97c32"></i>
                                        </button>
                                    </div>
                                    <span class="close" onclick="searchToggle(this, event);"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="EditDelete">
                        <button type="submit" name="edit" id="edit" value="Update">Save Changes</button>
                        <button type="submit" id="delete" name="delete" value="Delete">Delete Playlist</button>
                    </div>
            
                </div>
            </div>
        </form>
    </div>
        
    <div class="PlaylistFilters">
        <div class="FiltersContainer">

            <h3>Filter Playlist:</h3>
            <div class="MovieTvFilter" id="mtvBtnContainer">
                <button class="mtvBtn active" onclick="mtvFilterSelection('all')">All</button>
                <button class="mtvBtn" onclick="mtvFilterSelection('movies')">Movies</button>
                <button class="mtvBtn" onclick="mtvFilterSelection('tvs')">TV</button>
            </div>
        </div>
    </div>

</div>


<div class="Playlist_Search_Section">

    <div class="PlaylistSearch">
        <h3>Add More Movies/Shows</h3>
        
        <div class="Playlist-Search-Wrapper">
            <form class="AddPlaylistForm" id="plsearch" method="GET">
                <div class="Playlist-Input-Wrapper">
                    <input type="text" id="plsearch" name="plsearch" class="PL-Search-Input"/>
                    
                    <div class="SearchIcon">
                        <button type="submit" class="SearchButton"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>


        <div class="SearchCards">
            <div class="SearchCardsInfo">
                {% for m in search_movies %}

                {% if m.id == details.movie.id %}

                    <div class="none" style="display:none;"></div>

                {% else %}

                    <div class="PosterInfo" id="posterinfo">
                        <div class="searchcard" id="searchcard">
                            <a href="/MovieDetails/{{m.id}}/1">
                                <img id="profPoster" src="https://image.tmdb.org/t/p/original/{{ m.poster_path }}">
                            </a>
                            <div class="info-container">
                                <h4>
                                    <a href="/MovieDetails/{{m.id}}/1">
                                        <b style="font-size: 15px">{{ m.title }}</b> 
                                        <i style="font-size: 12px;">{{ m.release_date|slice:":4" }}</i>
                                    </a>
                                  <br>
                                </h4>
                                <a href="/add-movie-to-playlist/{{request.user.id}}/{{playlist.user_pl_id}}/{{m.id}}/1"><button>Add to Playlist</button></a>
                            </div>
                        </div>
                    </div>
                
                {% endif %}

                {% endfor %}
            </div>

            <div class="SearchCardsInfo">
                {% for t in search_tv %}
                <div class="PosterInfo" id="posterinfo">
                    <div class="searchcard" id="searchcard">
                        <a href="/TvDetails/{{t.id}}/2">
                            <img id="profPoster" src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}">
                        </a>
                        <div class="info-container">
                            <h4>
                                <a href="/TvDetails/{{t.id}}/2"><b style="font-size: 15px">{{ t.name }}</b>
                                </a>
                            <br>
                            </h4>
                            <a href="/add-tv-to-playlist/{{request.user.id}}/{{playlist.user_pl_id}}/{{t.id}}/1"><button>Add to Playlist</button></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>


    </div>








    <div class="PlaylistSection">
        <div class="SectionCards">
            <div class="Info">
                {% for m in details %}

                <div class="posterinfo" id="posterinfo">
                    {% if m.tv %}
                    <div class="mtvFilter tvs ">
                    <div class="card" id="card">
                        <div class="face face1">
                            <div class="content">
                                <a href="/TvDetails/{{m.tv.id}}/2">
                                    <img id="profPoster" src="https://image.tmdb.org/t/p/original/{{ m.tv.poster_path }}">
                                </a>
                            </div>
                        </div>
                    
                        <div class="face face2">
                            <div class="content">
                                <div class="info-container">
                                    <a href="/TvDetails/{{m.tv.id}}/2"><b style="font-size: 12px">{{ m.tv.name }}</b></a>
                                    <br>
                                    <i style="font-size: 10px">Added: {{m.tv.play.pl_date_added}}</i>
                                </div>

                                <div class="actions">
                                    {% if m.tv.id == watched.fav_mov_show_id %}
                                        <a href="/fav-show/{{m.tv.id}}/2" class="Watched">
                                        <i class="fa-solid fa-check" style="color: #6d44a8; font-size:18px; height: 20px; width: 30px;"></i>
                                        </a>
                                    {% else %}
                                        <a href="/fav-show/{{m.tv.id}}/2" class="Watched">
                                        <i class="fa-solid fa-check" style="color: white;font-size:18px; height: 20px; width: 30px;"></i>
                                        </a>
                                    {% endif %}

                                    {% if m.tv.id == watched.fav_mov_show_id %}
                                        <a href="/fav-show/{{m.tv.id}}/2" class="Fav">
                                        <i class="fa-solid fa-heart" style="color: #6d44a8; font-size:18px; height: 20px; width: 30px;"></i>
                                        </a>
                                    {% else %}
                                        <a href="/fav-show/{{m.tv.id}}/2" class="Fav">
                                        <i class="fa-regular fa-heart" style="color: white; font-size:18px; height: 20px; width: 30px;"></i>
                                        </a>
                                    {% endif %}
                                                    
                                    {% if m.tv.id == watch.watch_mov_show_id %}
                                        <a href="/watchlist-show/{{m.tv.id}}/2" class="Watch">
                                        <i class="fa-solid fa-tv" style="color: #6d44a8; font-size:18px; height: 20px; width: 30px;"></i>
                                        </a>
                                    {% else %}
                                        <a href="/watchlist-show/{{m.tv.id}}/2" class="Watch">
                                        <i class="fa-solid fa-tv" style="color: white; font-size:18px; height: 20px; width: 30px;"></i>
                                        </a>
                                    {% endif %}

                                    <a href="/create-tv-review/{{request.user}}/{{m.tv.id}}/2" class="Review"><i class="fa-solid fa-pen-to-square" style="font-size:18px; height: 20px; width: 30px;"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                    </div>
                    {% else %}

                    <div class="mtvFilter movies">
                    <div class="card" id="card">
                        <div class="face face1">
                            <div class="content">
                                <a href="/MovieDetails/{{m.movie.id}}/1">
                                    <img id="profPoster" src="https://image.tmdb.org/t/p/original/{{ m.movie.poster_path }}">
                                </a>
                            </div>
                        </div>
                    
                        <div class="face face2">
                            <div class="content">
                                <div class="info-container">
                                    <a href="/MovieDetails/{{m.movie.id}}/1"><b style="font-size: 12px">{{ m.movie.title }}</b></a>
                                    <br>
                                    <i style="font-size:10px;">Added: </i>
                                </div>

                                <div class="actions">
                                    {% if m.movie.id == watched.fav_mov_show_id %}
                                        <a href="/fav-movie/{{m.movie.id}}/1" class="Watched">
                                        <i class="fa-solid fa-check" style="color: #6d44a8; font-size:18px; height: 20px; width: 30px;"></i>
                                        </a>
                                    {% else %}
                                        <a href="/fav-movie/{{m.movie.id}}/1" class="Watched">
                                        <i class="fa-solid fa-check" style="color: white; font-size:18px; height: 20px; width: 30px;"></i>
                                        </a>
                                    {% endif %}

                                    {% if m.movie.id == request.user.favs.fav_mov_show_id %}
                                        <a href="/fav-movie/{{m.movie.id}}/1" class="Fav">
                                        <i class="fa-solid fa-heart" style="color: #6d44a8; font-size:18px; height: 20px; width: 30px;"></i>
                                        </a>
                                    {% else %}
                                        <a href="/fav-movie/{{m.movie.id}}/1" class="Fav">
                                        <i class="fa-regular fa-heart" style="color: white; font-size:18px; height: 20px; width: 20px;"></i>
                                        </a>
                                    {% endif %}
   
                                    {% if m.movie.id == watch.request.user.watch_mov_show_id %}
                                        <a href="/watchlist-movie/{{m.movie.id}}/1" class="Watch">
                                        <i class="fa-solid fa-tv" style="color: #6d44a8; font-size:18px; height: 20px; width: 30px;"></i>
                                        </a>
                                    {% else %}
                                        <a href="/watchlist-movie/{{m.movie.id}}/1" class="Watch">
                                        <i class="fa-solid fa-tv" style="color: white; font-size:18px; height: 20px; width: 30px;"></i>
                                        </a>
                                    {% endif %}

                                        {% if m.movie.id == request.user.user_reviews.fav_mov_show_id %}
                                            <a href="{% url 'edit-movie-review' request.user.id m.movie.id 1 %}" class="Review"><i class="fa-solid fa-pen-to-square" style="font-size:18px; height: 20px; width: 30px; color: #6d44a8"></i></a>
                                        {% else  %}
                                            <a href="{% url 'create-movie-review' request.user.id m.movie.id 1 %}" class="Review"><i class="fa-solid fa-pen-to-square" style="font-size:18px; height: 20px; width: 30px; color: white;"></i></a>
                                        {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>
                    </div>
                    
                    {% endif %}
                </div>
                
                {% endfor %}

            </div>
        </div>
    </div>
</div>

</div>

<!-- <img id="feedback-img" src="/media/feedback.png">
-->

<script src="{% static 'scripts\playlist.js' %}"></script>


<script type="text/javascript">

$(document).ready(function() {
    $('#checkbox').change(function() {
        $.post("/editform/", {
            id: '{{editform.user_pl_id}}',
            private: this.checked,
            comments_on: this.checked,
            csrfmiddlewaretoken: '{{ csrf_token }}' 
        });
    });
}); 

function privateToggle(){
    var x = document.getElementById("private");
    if (x.innerHTML === "Private On") {
        x.innerHTML = "Private Off";
    } else {
        x.innerHTML = "Private On";
    }
}

function commentToggle(){
    var c = document.getElementById("comments");
    if (c.innerHTML === "Comments On") {
        c.innerHTML = "Comments Off";
    } else {
        c.innerHTML = "Comments On";
    }
}


document.getElementById('plsearch').reset();

</script>             



{% endblock %}