{% extends "app/layout.html" %}

{% block maincontent %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'content\playlists\edit_playlist.css' %}">
</head>



<header>
    <h1>{{playlist.title}}</h1>
</header>


    <div class="form-content">
        <div class="container">

            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form}}
                    <h3>Create Playlist</h3>

                    <div class="form-row TopInfo">
                        <div class="Image">
                            <img class="cover-img" src="{{ editform.cover_img.url }}"> 
                            
                        </div>
                        <div class="TopInput">
                            <div class="Title">
                                {{ editform.title }}
                            </div>
                             <div class="Desc">  
                            {{ editform.description }}
                            </div>
                        </div>

                    </div>
                    
                    <div class="form-row Options">
                        <div class="Comments">
                            <h4 id="comments">Comments Off</h4>
                            <label class="switch">
                                {{editform.comments_on}}
                                <span class="slider round comm" onclick="commentToggle()"></span>
                            </label>
                        </div>
                        <div class="Private">
                            <h4 id="private">Private On</h4>
                            <label class="switch">
                                {{editform.private}}
                                <span class="slider round private" onclick="privateToggle()"></span>
                            </label>
                        </div>

                        <div class="Friends">
                            <div class="AddFriends">
                                <h4 id="share">Share</h4>
                                <div class="search-wrapper">
                                    <div class="input-holder">
                                        <input type="text" id="searchInput" onkeyup="searchFriends()" class="search-input" placeholder="Search..." />
                                        <button class="search-icon" onclick="searchToggle(this, event);">
                                            <i class="fa-solid fa-user-plus" style="font-size: 15px; color: #f97c32"></i>
                                        </button>
                                    </div>
                                    <span class="close" onclick="searchToggle(this, event);"></span>
                                </div>
 
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="col-md-12 btn" id="save">Save Playlist</button>
                </form>

            </div>

        </div>
     </div>

        


<div class="FavSearch">

    <form class="FavFind" id="favfind">


    </form>

</div>


<div class="PlaylistSection">
        <div class="Info">
            {% for x in details %}
                        
            <div class="PosterInfo" id="posterinfo">
                {% for m in x %}
                
                    {% if forloop.counter|divisibleby:2 %}
                    
                    <div class="StreamingInfo" id="streaming">
                        <div class="section-content">
                        
                            <div class="section-title">
                                <h2>Streaming</h2>
                            </div>
                            
                            <div class="StreamingList">
                                
                                <div class="List-Cat">
                                    {% if m.flatrate == '' %}
                                        <div class="none" style="display: none;"></div>
                                    {% else %}
                                    <div class="Free-Streaming">
                                        <h3>Free</h3>
                                        {% for free in m.flatrate %}
                                            {% if free.display_priority <= 20 %}
                                                <img id="moviePoster" src="https://image.tmdb.org/t/p/original/{{ free.logo_path }}">
                                            {% endif %}
                                        {% endfor %} 
    
                                        {% endif %}                                    
                                    </div>                                    
                                    <div class="Rent-Streaming">
                                        {% if m.rent == '' %}
                                            <div class="none" style="display: none;"></div>
                                        {% else %}
    
                                        <h3>Rent</h3>
                                        {% for rent in m.rent %}
                                            {% if rent.display_priority <= 20 %}
                                                <img id="moviePoster" src="https://image.tmdb.org/t/p/original/{{ rent.logo_path }}">
                                            {% endif %}    
                                        {% endfor %}

                                        {% endif %}
                                    </div>
                                    <div class="Buy-Streaming">
                                        {% if m.buy == '' %}
                                            <div class="none" style="display: none;"></div>
                                        {% else %}
                                        <h3>Purchase</h3>
                                        {% for buy in m.buy %}
                                            {% if buy.display_priority <= 20 %}
                                                <img id="moviePoster" src="https://image.tmdb.org/t/p/original/{{ buy.logo_path }}">
                                            {% endif %}
                                            
                                        {% endfor %}

                                        {% endif %}
                                    </div> 
                                   
                                </div>   
                                
                            </div>
                            
                        </div>
                        
                    </div> 
    
                    {% else %}

                        {% if m.tv %}

                        <a href="/TvDetails/{{m.tv.id}}/2">
                            <div class="card" id="card">
                                <img id="profPoster" src="https://image.tmdb.org/t/p/original/{{ m.tv.poster_path }}">
                              <div class="info-container">
                                <h4>
                                    <b style="font-size: 15px">{{ m.tv.name }}</b><br>
                                    <i style="font-size: 12px">Added:
                                        
                                            {% for all_favs in m %}
                                                {{ all_favs.date_added }}
                                            {% endfor %}
                                        
                                    </i>
                                </h4>
                              </div>
                            </div>
                        </a>                    

                        {% else %}

                        <a href="/MovieDetails/{{m.movie.id}}/1">
                            <div class="card" id="card">
                                <img id="profPoster" src="https://image.tmdb.org/t/p/original/{{ m.movie.poster_path }}">
                              <div class="info-container">
                                <h4>
                                  <b style="font-size: 15px">{{ m.movie.title }}</b><br>
                                  <i style="font-size: 12px">Added:</i>
                                </h4>
                              </div>
                            </div>
                        </a>                        

                        {% endif %}

                    {% endif %}

                {% endfor %}
                </div>
                
             {% endfor %}
            </div>
</div>












<script src="{% static 'scripts\playlist.js' %}"></script>


<script type="text/javascript">
$(document).ready(function() {
    $('#checkbox').change(function() {
        $.post("/create_playlist/", {
            id: '{{create_pl.user_pl_id}}', 
            private: this.checked,
            csrfmiddlewaretoken: '{{ csrf_token }}' 
        });
    });
}); 

function privateToggle(){
    var x = document.getElementById("private");
    if (x.innerHTML === "Private On") {
        x.innerHTML = "Private Off";
    } else {
        x.innerHTML = "Private On";
    }
}

function commentToggle(){
    var c = document.getElementById("comments");
    if (c.innerHTML === "Comments Off") {
        c.innerHTML = "Comments On";
    } else {
        c.innerHTML = "Comments Off";
    }
}

</script>             



{% endblock %}