<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="../static/app/content/site.css"> -->
    <link rel="stylesheet" type="text/css" href="C:/repo/EcstaStream/app/static/app/content/LoggedIn/site.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/app/content/jquery-ui.css">

    <title>EcstaStream</title>
</head>
<body>

    <nav class="NavBar">

        <div class="NavLogo">
            <div class="LogoPic">
                <a href="#" >
                    <img id="logo" alt="navlogo" src="C:\repo\EcstaStream\app\static\app\Images\FinalLogos\LogoFinal3-removebg-preview.png" height="130" width="150">
                </a>
            </div>
        </div>

        <div class="NavLogin">
            <div class="Login">
                <a href="#" >
                    <img id="logo" alt="navlogo1" src="C:\repo\EcstaStream\app\static\app\Images\LoginButton.png" height="75" width="75">
                </a>
            </div>     
        </div>

        <div class="NavOptions">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Playlists</a></li>
                <li><a href="#">Friends</a></li>
                <li><a href="#">Let Us Help You</a></li>
            </ul>
        </div>

    </nav>

    <div class="Search">
        <div class="SearchSection">
            <div class="SearchBar">
                <input id="searchbar" type="text" placeholder="Whatcha Looking For, My Dude?">
                <img id="logoSearch" alt="logo_search_button" src="C:\repo\EcstaStream\app\static\app\Images\searchbutton-removebg-preview.png" height="75px" width="75px">
            </div>
        </div>
    </div>






    <div class="MainContainer">

    	<div class="TopInfoBar">
    		
    		<div class="MovieUser">

    			<div class="MovieTitle">
    				<div class="Title">

    				</div>
    				<div class="Year">

    				</div>
    			</div>

    			<div class="UserOptions">
    				<div id="favorite">

    				</div>
    				<div id="userScore">

    				</div>
    				<div id="watchlist">

    				</div>

    			</div>

    		</div>

    		<div class="Scores">
    			<div class="IMDB">

    			</div>
    			<div class="RT">

    			</div>
    			<div class="Meta">

    			</div>
    			<div class="Users">

    			</div>
    		</div>

    	</div>


    </div>


</body>
</html>