
.TopInfoBar {
	height: 100px;
	color: white;
	font-size: 20px;
	width: 100%;
}

.TopInfoBar .MovieInfo {
	width: 50%;
	font-size: 15px;
	float: left;
}

.MovieInfo #year, #rating, #genre, #bookmark {
	font-size: 13px;
	width: 50px;
	float: left;
	text-align: center;
}

.MovieInfo #title {
	margin-top: 0px;
}

.MovieInfo #genre {
	width: 170px;
	text-align: center;
}

.MovieInfo #genre i {
    text-align: center;
    font-size: 5px;
    margin-bottom: 0px;
}



.TopInfoBar .ReviewScores {
	width: 50%;
	float: right;
	font-size: 15px;
}

.ReviewScores .Ratings {
	float: right;
}

.ReviewScores .Ratings p {
	margin-bottom: 5px;
}



.MainSection {
	height: 500px;
	width: 100%;
	margin: auto;
}

.MainSection .PosterInfo {
	height: 100%;
	padding-right: 0px;
}

.MainSection .DirWriters {
	height: 100%;
	width: 100%;
}

.MainSection .PosterInfo #moviePoster {
	height: 400px;
	width: 80%;
	object-fit: fill;
}

.PosterInfo .Info {
	height: 100px;
	width: 80%;
	font-size: 12px;
	background-color: #1e1f1e;
	border-radius: 10px;
}

.PosterInfo .section-title {
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
}


.PosterInfo #dir {
	height: 100px;
	width: 50%;
	padding-left: 20px;
	padding-top: 5px;
	float: left;
	text-align: left;
}

.PosterInfo #writers {
	height: 100px;
	width: 50%;
	padding-right: 20px;
	padding-top: 5px;
	float: right;
	text-align: right;
}









.MainSection .SummaryStreaming {
	height: 100%;
	padding-left: 0px;
}


.SummaryStreaming .Summary {
	height: 20%;
	width: 95%;
	margin: auto;
	background-color: #1e1f1e;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
}

.SummaryStreaming .Summary h2 {
	font-size: 20px;
	padding-left: 3%;
	padding-top: 5px;
	margin-bottom: 3px;
}

.SummaryStreaming .Summary #text {
	width: 90%;
	margin: auto;
	padding: 3px;
	font-size: 12px;
}


.MainSection .StreamingServices {
	height: 80%;
	padding-left: 0px;
}

.MainSection .StreamingServices ul {
    display: flex;
    min-height: 100%;
    max-height: 100%;
    border-radius: 25px;
    margin: 0;
    padding: 0;
    overflow: hidden;
	list-style-type: none;
}

.MainSection .StreamingServices li {
	display: flex;
	width: 14%;
	align-items: stretch;
	background-image: url('bk-color.png');
	background-position: center;
	cursor: pointer;
	transition: all .2s ease;
}

.MainSection .StreamingServices li.active {
	flex: 1;
  	cursor: default;
  	background: #6D44A8;
}

.MainSection .StreamingServices li.active .section-content {
    flex: 4;
    opacity: 1;
    transform: scaleX(1);
    width: 90%;
 }

.MainSection .StreamingServices .section-title {
	flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

.MainSection .StreamingServices .section-title h2 {
    margin: 0;
    transform: rotate(-90deg);
    white-space: nowrap;
	font-weight: bold;
}

.MainSection .StreamingServices li .section-content {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    opacity: 0;
}









.StreamingServices #streaming .StreamingList {
	float: right;
	width: 100%;
	height: 90%;
}

#streaming .StreamingList .List-Cat {
	padding-left: 15px;
	padding-right: 15px;
	height: 100%;
}

#streaming .List-Cat h3 {
	font-size: 20px;
}

#streaming .List-Cat img {
	height: 40px;
	width: 40px;
	margin-left: 8px;
	margin-right: 8px;
	border-radius: 10px;
}

#streaming .List-Cat .Free-Streaming {
	height: 33%;
	border-bottom: 1px solid white;
	padding-top: 8px;
	padding-bottom: 8px;
}

#streaming .List-Cat .Rent-Streaming {
	height: 33%;
	border-bottom: 1px solid white;
	padding-top: 8px;
	padding-bottom: 8px;
}

#streaming .List-Cat .Buy-Streaming {
	height: 33%;
	padding-top: 8px;
	padding-bottom: 8px;
}










.Cast {
	height: 300px;
	width: 100%;
}

.AddInfo {
	height: 300px;
	width: 100%;
}

.Recommendations {
	height: 300px;
	width: 100%;
}