.MovieImg-Wrapper {
	height: 45%;
	bottom: 0; 
	width: 100%;
	background-size: cover;
	background-position: center;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.TopInfoBar {
	height: 500px;
	margin: 0;
	padding: 0px;
}

.TopInfoBar .Title {
	height: 75%;
	width: 100%;
}

.TopInfoBar .Title #title {
	padding-top: 25px;
	padding-left: 15px;
	font-weight: 800;
	height: 120px;
	font-size: 50px;
	text-shadow: -2px 3px rebeccapurple;
}

.TopInfoBar .MovieInfo {
	width: 50%;
	height: 15%;
	font-size: 25px;
	font-weight: 700;
	float: left;
	color: white;
}

.MovieInfo #rating {
	font-size: 18px;
	width: 100px;
	float: left;
	text-align: center;
}

.MovieInfo #year {
	font-size: 18px;
	width: 85px;
	float: left;
	text-align: center;
}

.MovieInfo #runtime {
	float: left;
	font-size: 18px;
	text-align: center;
	width: 100px;
}

.MovieInfo #genre {
	font-size: 18px;
	float: left;
	width: 100%;
	padding-left: 20px;
}

.MovieInfo #genre i {
    text-align: center;
    font-size: 5px;
    margin-bottom: 0px;
}



.TopInfoBar .ReviewScores {
	width: 50%;
	height: 15%;
	float: right;
	font-size: 25px;
	font-weight: 700;
}

.ReviewScores .Ratings {
	width: 50%;
	height: 90px;
	float: right;
	margin-bottom: 0px;
	list-style: none;
}

.ReviewScores ul li {
	width: 75px;
	height: 90px;
	margin-bottom: 5px;
	padding-top: 10px;
	display: inline-block;
	text-align: center;
}

.ReviewScores .Ratings li img {
	height: 35px;
	width: 40px;
	margin: auto;
}

.ReviewScores .Ratings li p {
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 0px;
}


.MainSection {
	height: 550px;
	width: 98%;
	margin: auto;
}

.MainSection .PosterInfo {
	height: 100%;
	padding-right: 0px;
}

.MainSection .PosterInfo #moviePoster {
	height: 450px;
	width: 100%;
	object-fit: fill;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.PosterInfo .Info {
	height: 100px;
	width: 100%;
	font-size: 12px;
	background-color: #1e1f1e;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.PosterInfo .section-title {
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
}

.PosterInfo #dir {
	height: 100px;
	width: 50%;
	padding-left: 20px;
	padding-top: 5px;
	float: left;
	text-align: left;
}

.PosterInfo #writers {
	height: 100px;
	width: 50%;
	padding-right: 20px;
	padding-top: 5px;
	float: right;
	text-align: right;
}









.MainSection .SummaryStreaming {
	height: 100%;
	padding-left: 0px;
}

.SummaryStreaming .UserActions {
	height: 15%;
	width: 100%;
	margin: auto;
	background-color: #1e1f1e;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.SummaryStreaming .UserActions .User {
	float: left;
	width: 50%;
	height: fit-content;
	margin-top: 10px;
}

.SummaryStreaming .UserActions .User h3 {
	width: 80px;
	float: left;
	margin-left: 20px;
	padding-top: 5px;
}

.SummaryStreaming .UserActions .User ul {
	float: left;
    width: 320px;
    margin: 0;
    padding: 0;
    overflow: hidden;
	list-style-type: none;
}


.SummaryStreaming .UserActions .User ul li {
	width: 50px;
	text-align: center;
	font-size: 35px;
	display: inline-block;
}


.SummaryStreaming .UserActions .Friends {
	float: right;
	width: 50%;
	height: fit-content;
	margin-top: 10px;
}

.SummaryStreaming .UserActions .Friends h3 {
	width: 100px;
	float: left;
	margin-left: 20px;
	padding-top: 5px;
}

.SummaryStreaming .UserActions .Friends ul {
	float: right;
    width: 320px;
    margin: 0;
    padding: 0;
    overflow: hidden;
	list-style-type: none;
}


.SummaryStreaming .UserActions .Friends ul li {
	width: 50px;
	text-align: center;
	font-size: 35px;
	display: inline-block;
}








.SummaryStreaming .Summary {
	height: 20%;
	width: 100%;
	margin: auto;
	background-color: #1e1f1e;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.SummaryStreaming .Summary h2 {
	font-size: 20px;
	padding-left: 3%;
	padding-top: 15px;
	margin-bottom: 3px;
}

.SummaryStreaming .Summary #text {
	width: 80%;
	margin: auto;
	padding: 3px;
	font-size: 12px;
}

.MainSection .StreamingServices {
	height: 65%;
	padding-left: 0px;
}

.MainSection .StreamingServices ul {
    display: flex;
    min-height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
	list-style-type: none;
}

.MainSection .StreamingServices li {
	display: flex;
	width: 14%;
	align-items: stretch;
	background-image: linear-gradient(to bottom right, #f02811, #F9A647);
	background-position: center;
	cursor: pointer;
	transition: all .2s ease;
}

.MainSection .StreamingServices li.active {
	flex: 1;
  	cursor: default;
  	background: #6D44A8;
}

.MainSection .StreamingServices li.active .section-content {
    flex: 4;
    opacity: 1;
    transform: scaleX(1);
    width: 90%;
 }

.MainSection .StreamingServices .section-title {
	flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

.MainSection .StreamingServices .section-title h2 {
    margin: 0;
    transform: rotate(-90deg);
    white-space: nowrap;
	font-weight: bold;
}

.MainSection .StreamingServices li .section-content {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.StreamingServices #streaming .StreamingList {
	float: right;
	width: 100%;
	height: 90%;
}

#streaming .StreamingList .List-Cat {
	padding-left: 15px;
	padding-right: 15px;
	height: 100%;
}

#streaming .List-Cat h3 {
	font-size: 20px;
	color: white;
}

#streaming .List-Cat img {
	height: 40px;
	width: 40px;
	margin-left: 8px;
	margin-right: 8px;
	border-radius: 10px;
}

#streaming .List-Cat .Free-Streaming {
	height: 33%;
	border-bottom: 1px solid white;
	padding-top: 8px;
	padding-bottom: 8px;
}

#streaming .List-Cat .Rent-Streaming {
	height: 33%;
	border-bottom: 1px solid white;
	padding-top: 8px;
	padding-bottom: 8px;
}

#streaming .List-Cat .Buy-Streaming {
	height: 33%;
	padding-top: 8px;
	padding-bottom: 8px;
}






#section-break {
	height: 120px;
}






.Cast {
	height: 480px;
	width: 100%;
}

.Cast .CastSearch {
	height: 130px;
}

.Cast .CastSearch p {
	width: 25%;
	float: left;
	margin: revert;
	font-weight: bold;
	color: white;
	font-size: 25px;
	text-align: center;
}

.Cast .CastSearch ::selection {
   background: #212129;
}

.Cast .CastSearch .search-wrapper {
    position: inherit;
    float: right;
    transform: translate(-5%, 20%);
    margin-right: 10%;
}
.Cast .CastSearch .search-wrapper.active {}

.Cast .CastSearch .search-wrapper .input-holder {    
    width: 55px;
    height: 55px;
    overflow: hidden;
    background: #6D44A8;
    border-radius: 30px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.Cast .CastSearch .search-wrapper.active .input-holder {
    width: 450px;
    border-radius: 50px;
    background: #6D44A8;
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}

.Cast .CastSearch .search-wrapper .input-holder .search-input {
    width: 100%;
    height: 50px;
    padding: 0px 70px 0 20px;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family:"Open Sans", Arial, Verdana;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: white;
    transform: translate(0, 60px);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.3s;
}

.Cast .CastSearch .search-wrapper.active .input-holder .search-input {
    opacity: 1;
    transform: translate(0, 10px);
}

.Cast .CastSearch .search-wrapper .input-holder .search-icon {
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 30px;
    background: #FFF;
    padding: 0px;
    outline: none;
    position: relative;
    z-index: 2;
    float: right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.Cast .CastSearch .search-wrapper.active .input-holder .search-icon {
    width: 55px;
    height: 55px;
    border-radius: 30px;
}

.Cast .CastSearch .search-wrapper .input-holder .search-icon span {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transform: rotate(45deg);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}

.Cast .CastSearch .search-wrapper.active .input-holder .search-icon span {
    transform: rotate(-45deg);
}

.Cast .CastSearch .search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
    position: absolute; 
    content:'';
}

.Cast .CastSearch .search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 11px;
    left: 9px;
    top: 18px;
    border-radius: 2px;
    background: #FE5F55;
}

.Cast .CastSearch .search-wrapper .input-holder .search-icon span::after {
	width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 4px solid #FE5F55;
}

.Cast .CastSearch .search-wrapper .close {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition-delay: 0.2s;
}

.Cast .CastSearch .search-wrapper.active .close {
    right: -50px;
    transform: rotate(45deg);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.5s;
}

.Cast .CastSearch .search-wrapper .close::before, .search-wrapper .close::after {
    position: absolute;
    content:'';
    background: #FE5F55;
    border-radius: 2px;
}

.Cast .CastSearch .search-wrapper .close::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0px;
}

.Cast .CastSearch .search-wrapper .close::after {
    width: 25px;
    height: 5px;
    left: 0px;
    top: 10px;
}










.SeriesInfo {
	height: 300px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.SeriesInfo .SeriesSummary {
	height: 261px;
	float: left;
	background-image: linear-gradient(to bottom right, #f02811, #F9A647);
  	background-position: center;
  	border-top-left-radius: 15px;
  	border-bottom-left-radius: 15px;
}

.SeriesInfo .SeriesSummary .title {
    height: 90%;
    margin-left: 5%;
    width: 90%;
    margin-top: 5%;
    display: inline-block;
}

.SeriesInfo .SeriesSummary p {
    font-size: 35px;
    text-align: left;
    height: 100%;
    margin-top: auto;
}

.SeriesInfo .Series-Cards {
	height: 290px;
  	border-top-right-radius: 20px;
  	border-bottom-right-radius: 20px;
}

.Series-Container #posterpic {
	height: 90%;
	width: inherit;
	object-fit: cover;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}


