{% block socialcontent %}
{% load static %}

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'content\socialcontent.css' %}">
</head>

<div class="SignedIn">

    <div class="UserNotifications">

        <div class="row UserFriends">

            <div id="friends">
                <h3>Friends</h3>
                <h1>{{all_friends}}</h1>
                        
            </div>

            <div id="following">
                <h3>Following</h3>
                <h1>###</h1>
            </div>

        </div>

        <div class="row Notifications">
            <a href="#"><i class="fa-solid fa-user-plus"></i></a>
            <a href="#"><i class="far fa-bell"></i></a>
            <a href="#"><i class="fas fa-envelope-open-text"></i></a>
            <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
    </div>

        
    <div class="UserSocialContainer">

    </div>

</div>

{% endblock %}