
.SearchForm {
    display: none;
}

.RightSideBar {
    display: none;
}

.form-content {
	height: 650px;
}

.form-content .container {
	height: 100%;
    width: 50%;
    margin: auto;
}

.container .card-body {
	height: 100%;
}

form {
    height: 600px;
    width: 100%;
    float: left;
    margin-top: auto;
    top: 50%;
    left: 50%;
    background-color: #530881;
    background-image: 
        radial-gradient(at 47% 33%, hsl(18.00, 100%, 51%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(19.73, 93%, 52%) 0, transparent 55%);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 15px 30px;
    backdrop-filter: blur(16px) saturate(150%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-radius: 12px;
}

form *{
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    text-decoration: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}


.container .TopInfo {
    width: 100%;
    height: 40%;
}

.TopInfo .Image {
    width: 40%;
    float: left;
}

.TopInfo .Image img {
    width: 95%;
    height: 92%;
    border-radius: 15px;
}

.TopInfo .TopInput {
    width: 60%;
    height: 100%;
    float: right;
}

.TopInput .Title {
    height: 25%;
}

.TopInput .Title input {
    width: 100%;
    height: 50px;
    margin: auto;
    color: white;
    backdrop-filter: blur(10px) saturate(130%);
    -webkit-backdrop-filter: blur(10px) saturate(130%);
    background-color: rgba(121, 0, 224, 0.06);
    border-radius: 12px;
    border: 3px solid rgba(255, 255, 255, 0.125);
    outline: none;
}

..TopInput .Title input:focus {
    -webkit-box-shadow: 0px 0px 2px 3px rgb(255 255 255 / 25%);
    box-shadow: 0px 0px 2px 3px #f8f9fa73;
    cursor: pointer;
    background: rgba(255, 255, 255, .25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) saturate(200%);
    border: 1px solid rgb(255 255 255 / 35%);
    -webkit-transition: 0.3s;
}

.TopInput .Desc {
    height: 75%;
}

.TopInput .Desc textarea {
    width: 100%;
    margin: auto;
    color: white;
    backdrop-filter: blur(10px) saturate(130%);
    -webkit-backdrop-filter: blur(10px) saturate(130%);
    background-color: rgba(121, 0, 224, 0.06);
    border-radius: 12px;
    border: 3px solid rgba(255, 255, 255, 0.125);
    outline: none;
}

.TopInput .Desc textarea:focus {
    -webkit-box-shadow: 0px 0px 2px 3px rgb(255 255 255 / 25%);
    box-shadow: 0px 0px 2px 3px #f8f9fa73;
    cursor: pointer;
    background: rgba(255, 255, 255, .25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) saturate(200%);
    border: 1px solid rgb(255 255 255 / 35%);
    -webkit-transition: 0.3s;
}

.Options .Private {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 90px;
}

.Options .Comments {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 90px;
}

.Options h4 {
    height: 20px;
    font-size: 15px;
    text-align: center;
}

.Options input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.Options .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.Options .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.Options input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.Options .slider.round {
  border-radius: 34px;
  height: 35px;
  width: 65px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.Options .slider.round:before {
  border-radius: 50%;
}


::placeholder{
    color: white;
}


#save {
    width: 100%;
    background-color: rgba(255,255,255,0.27);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 15px 30px;
    backdrop-filter: blur(16px) saturate(150%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-radius: 12px;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

#save:hover {
    background-color: rgba(255,255,255,0.47);
}



.social {
    margin-top: 30px;
    display: flex;
}

.social div {
    margin: auto;
    width: 150px;
    border-radius: 3px;
    padding: 10px 10px 10px 5px;
    background-color: rgba(255,255,255,0.27);
    color: #eaf0fb;
    text-align: center;
}

.social div:hover {
    background-color: rgba(255,255,255,0.47);
}


