.SearchForm {
    display: none;
}

.RightSideBar .SignedIn .UserNotifications {
    display: none;
}

.RightSideBar .SignedIn .UserSocialContainer {
    display: none;
}


.PlaylistHeader {
    height: 400px;
    border-radius: 20px;
    border-top: 4px solid rgba(255, 255, 255, 0.125);
    border-right: 4px solid rgba(255, 255, 255, 0.125);
    border-left: 4px solid rgba(255, 255, 255, 0.125);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: #530881;
    background-image: 
        radial-gradient(at 47% 33%, hsl(18.00, 100%, 51%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(19.73, 93%, 52%) 0, transparent 55%);

}

.PlaylistHeader .HeaderContainer {
    height: 315px;
    width: 90%;
    margin: auto;
}



.HeaderContainer .HeaderBody {
    width: 100%;
    height: 100%;
}

.HeaderBody .Title {
    height: 125px;
    width: 80%;
}

.HeaderBody .Title #id_title {
    padding-top: 10px;
    padding-left: 15px;
    font-weight: 800;
    float: left;
    height: 120px;
    width: 88%;
    border: none;
    background: transparent;
    color: white;
    text-shadow: -2px 3px rebeccapurple;
}




.HeaderBody .SocialInfo {
    height: 30px;
    width: 55%;
    margin-left: 10px;
    display: inline-block;
}

.HeaderBody .SocialInfo #creator {
    font-size: 12px;
    float: left;
    width: 100%;
}




.HeaderBody .Desc {
    height: 60px;
    width: 55%;
    margin-left: 10px;
}

.HeaderBody .Desc #id_description {
    font-size: 14px;
    float: left;
    width: 80%;
    border: none;
    background: transparent;
    color: white;
}








.UserOptions {
    height: 170px;
    width: 38%;
    margin: auto;
    float: left;
}

.UserOptions .Options {
    height: 100%;
    width: 100%;
}

.UserOptions .Options .TopOptions {
    height: 65%;
    width: 100%;
}

.UserOptions .Options .Private {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 65px;
    float: left;
}

.UserOptions .Options .Comments {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 65px;
    float: left;
}

.UserOptions .Options h4 {
    margin-bottom: 10px;
    height: 20px;
    font-size: 10px;
    text-align: center;
}

.UserOptions .Options input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.UserOptions .Options .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) saturate(200%);
    border: 2px solid rgb(255 255 255 / 35%);
    -webkit-transition: 0.3s;
    -webkit-transition: .4s;
    transition: .4s;
}

.UserOptions .Options .slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.UserOptions .Options input:checked + .slider:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
}

.UserOptions .Options .slider.round.private-btn {
    border-radius: 30px;
    height: 30px;
    width: 65px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 5px;
}

.UserOptions .Options .slider.round.comm-btn {
    border-radius: 30px;
    height: 30px;
    width: 65px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

.UserOptions .Options .slider.round:before {
    border-radius: 50%;
}




::placeholder{
    color: white;
}


.UserOptions .Options .Friends {
    position: relative;
    display: inline-block;
    height: 35px;
    width: 35px;
    padding-top: 10px;
    float: left;
    margin-left: 10px;
}

.Options .Friends a {
    text-decoration: none;
    color: white;
}

.Options .Friends {
    width: 50%;
    height: 100px;
}

.Friends #share {
    margin-left: 30px;
}

.Friends .AddFriends {
    height: 90px;
}

.Friends .AddFriends p {
    width: 25%;
    float: left;
    margin: revert;
    font-weight: bold;
    color: white;
    font-size: 15px;
    text-align: center;
}

.Friends .AddFriends ::selection {
   background: #212129;
}

.Friends .AddFriends .search-wrapper {
    position: inherit;
    float: left;
    transform: translate(0%, -11%);
}
.Friends .AddFriends .search-wrapper.active {}

.Friends .AddFriends .search-wrapper .input-holder {    
    width: 35px;
    height: 30px;
    border-radius: 30px;
    margin: 0px;
    border: 2px solid transparent;
    background: transparent;
    color: transparent;
    transition: all .3s cubic-bezier(0.5, 0.06, 0.75, 1.26);
    transition-delay: 0.2s;
}

.Friends .AddFriends .search-wrapper.active .input-holder {
    width: 275px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid rgb(255 255 255 / 35%);
    background: rgba(255, 255, 255, .25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) saturate(200%);
    -webkit-transition: 0.3s;
    transition: all .3s cubic-bezier(0.5, 0.06, 0.75, 1.26);
    transition-delay: 0.2s;
}

.Friends .AddFriends .search-wrapper .input-holder .search-input {
    width: 90%;
    height: 29px;
    padding: 0px 10px 0 45px;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family:"Open Sans", Arial, Verdana;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: white;
    transition: all .3s cubic-bezier(0.5, 0.06, 0.75, 1.26);
    transition-delay: 0.2s;
}

.Friends .AddFriends .search-wrapper.active .input-holder .search-input {
    opacity: 1;
    transform: translate(0px, 0px);
}

.Friends .AddFriends .search-wrapper .input-holder .search-icon {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 30px;
    background: #FFF;
    padding: 0px;
    outline: none;
    position: relative;
    z-index: 2;
    float: left;
    cursor: pointer;
    transform: translate(-2px, -2px);
}

.Friends .AddFriends .search-wrapper.active .input-holder .search-icon {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    transform: translate(-2px, -2px);
}

.Friends .AddFriends .search-wrapper .input-holder .search-icon span {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.Friends .AddFriends .search-wrapper .close {
    position: absolute;
    z-index: 1;
    top: 6px;
    right: 7px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all .6s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition-delay: 0.5s;
}

.Friends .AddFriends .search-wrapper.active .close {
    transform: rotate(45deg);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.5s;
    color: transparent;
}

.Friends .AddFriends .search-wrapper .close::before, .search-wrapper .close::after {
    position: absolute;
    content:'';
    background: white;
    border-radius: 2px;
}

.Friends .AddFriends .search-wrapper .close::before {
    width: 4px;
    height: 20px;
    left: 8px;
    top: 0px;
}

.Friends .AddFriends .search-wrapper .close::after {
    width: 20px;
    height: 4px;
    left: 0px;
    top: 8px;
}





.UserOptions .Options .EditDelete {
    height: 35%;
    width: 100%;
}

.EditDelete button {
    width: 30%;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    color: white;
    background-color: rgba(255,255,255,0.1);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    backdrop-filter: blur(16px) saturate(150%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);    
    border-radius: 10px;
}

.EditDelete button:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, .25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) saturate(200%);
    border: 2px solid rgb(255 255 255 / 35%);
    -webkit-transition: 0.3s;
    border-radius: 10px;
}

.EditDelete button.active {
    background: rgba(255, 255, 255, .25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) saturate(200%);
    border: 3px solid rgb(255 255 255 / 35%);
    -webkit-transition: 0.3s;
    border-radius: 10px;
}







.PlaylistHeader .PlaylistFilters {
    height: 150px;
    width: 100%;
}

.PlaylistHeader .PlaylistFilters .FiltersContainer {
    height: 100%;
    width: 55%;
    margin-left: auto;
    margin-right: 80px;
    border-radius: 15px;
    border: 1px white solid;
    backdrop-filter: blur(10px) saturate(130%);
    -webkit-backdrop-filter: blur(10px) saturate(130%);
    background-color: rgba(121, 0, 224, 0.06);
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.125);
    outline: none;
}

.PlaylistFilters .FiltersContainer h3 {
    text-align: center;
}

.FiltersContainer .MovieTvFilter {
    width: 60%;
    margin: auto;
}

.PlaylistFilters .FiltersContainer button {
    width: 30%;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    background-color: rgba(255,255,255,0.1);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    backdrop-filter: blur(16px) saturate(150%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);    
    border-radius: 10px;
}

.FiltersContainer button:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, .25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) saturate(200%);
    border: 2px solid rgb(255 255 255 / 35%);
    -webkit-transition: 0.3s;
    border-radius: 10px;
}

.FiltersContainer button.active {
    background: rgba(255, 255, 255, .25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) saturate(200%);
    border: 3px solid rgb(255 255 255 / 35%);
    -webkit-transition: 0.3s;
    border-radius: 10px;
}









.Playlist_Search_Section {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgb(109 68 168 / 20%);
}


.Playlist_Search_Section .PlaylistSearch {
    width: 30%;
    float: left;
    margin-top: 80px;
    color: white;
}

.PlaylistSearch h3 {
    font-size: 18px;
    text-align: center;
}

.PlaylistSearch .Playlist-Search-Wrapper {
    width: 100%;
    height: 80px;
    margin: auto;
    color: white;
}

.PlaylistSearch .Playlist-Input-Wrapper {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    color: white;
}


.PlaylistSearch .Playlist-Search-Wrapper .Playlist-Input-Wrapper .PL-Search-Input {
    width: 90%;
    height: 45px;
    float: left;
    border-right: none;    
    margin: auto;
    color: white;
    backdrop-filter: blur(10px) saturate(130%);
    -webkit-backdrop-filter: blur(10px) saturate(130%);
    background-color: rgba(121, 0, 224, 0.06);
    border-radius: 12px 0px 0px 12px;
    border-left: 2px solid rgba(255, 255, 255, 0.125);
    border-top: 2px solid rgba(255, 255, 255, 0.125);
    border-bottom: 2px solid rgba(255, 255, 255, 0.125);
    outline: none;
}

.PlaylistSearch .Playlist-Search-Wrapper .Playlist-Input-Wrapper .Pl-earch-Input:focus {
    background: rgba(255, 255, 255, .25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) saturate(200%);
    border: 3px solid rgb(255 255 255 / 35%);
    -webkit-transition: 0.3s;
    border-radius: 10px;
    -webkit-transition: 0.3s;
}



.PlaylistSearch .Playlist-Search-Wrapper input {
    padding: 10px 80px 10px 40px;
    border: none;
    display: block;
    width: 100%;
    font-size: 20px;
    height: 45px;
    font-style: normal;
    color: white;
    border-right: none;
    background-color: initial;
    overflow: visible;
    font-weight: 600;
}


.PlaylistSearch .Playlist-Search-Wrapper .SearchIcon {
    float: right;
    width: 10%;
    align-items: center;
    height: 45px;
}

.PlaylistSearch .Playlist-Search-Wrapper .SearchIcon button {
    background: #6d44a8;
    height: 45px;
    width: 100%;
    border: 1px solid #6d44a8;
    border-radius: 0 15px 15px 0;
}

.PlaylistSearch .Playlist-Search-Wrapper .SearchIcon i {
    font-size: 25px;
    margin: auto;
}








/* Search CSS to ADD new shows/movies */


.Playlist_Search_Section .PlaylistSearch .SearchCards {
    height: 100%;
    width: 85%;
    margin: auto;
}


.PlaylistSearch .SectionCards .SearchCardsInfo {
    height: 100%;
    width: 90%;
    margin: auto;
}

.SearchCardsInfo .PosterInfo {
    height: 135px;
    width: 100%;
}

.SearchCardsInfo .PosterInfo a {
    text-decoration: none;
    color: white;
}

.SearchCardsInfo .PosterInfo .searchcard {
    height: 120px;
    width: 90%;
    margin: auto;
}


.SearchCardsInfo .PosterInfo .searchcard img {
    height: 120px;
    float: left;
    width: 30%;
}

.SearchCardsInfo .PosterInfo .searchcard .info-container {
    height: 120px;
    float: right;
    width: 65%;
    text-align: center;
}














.Playlist_Search_Section .PlaylistSection {
    width: 70%;
    margin: auto;
    float: right;
    border-radius: 15px;
    margin-top: 80px;
/*    background-color: #530881;
    background-image: 
        radial-gradient(at 47% 33%, hsl(18.00, 100%, 51%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(19.73, 93%, 52%) 0, transparent 55%);
*/
}

.PlaylistSection .show {
    display: inline-grid;
}

.PlaylistSection a {
    text-decoration: none;
    color: white;
    display: none;
}

.Playlist_Search_Section .PlaylistSection .SectionCards {
    width: 90%;
    margin: auto;
}

.PlaylistSection .Info {
    height: 100%;
    width: 100%;
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.PlaylistSection .SectionCards .row:after {
    content: "";
    display: table;
    clear: both;
}

.PlaylistSection .Info .posterinfo {
    width: 25%;
    height: 100%;
    margin-bottom: 20px;
    position: relative;
    transition-duration: 0.5s;  
}

.Info .posterinfo > .StreamingInfo {
    display: none;
    position: absolute;
}

.PlaylistSection .Info .posterinfo .card {
    background: rgba(255, 255, 255, .25);
    height: 230px;
    border: 1px solid rgb(255 255 255 / 35%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 180px;
    text-decoration: none;
    margin: 10px auto 10px auto;
    border-radius: 20px;
    -webkit-backdrop-filter: revert;
    backdrop-filter: revert;
}


.PlaylistSection .Info .posterinfo .card:hover {
    -webkit-box-shadow: 0px 0px 2px 3px rgb(255 255 255 / 25%);
    box-shadow: 0px 0px 2px 3px #f8f9fa73;
    cursor: pointer;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) saturate(200%);
    background-color: #530881;
    background-image: 
        radial-gradient(at 47% 33%, hsl(18.00, 100%, 51%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(19.73, 93%, 52%) 0, transparent 55%);
}

.PlaylistSection .Info .posterinfo .card img {
    width: 85%;
    height: 68%;
    object-fit: cover;
    margin-right: auto;
    margin-left: auto;
    padding-top: 8px;
    display: inline-block;
    border-radius: 20px;
}

.PlaylistSection .Info .posterinfo .card .info-container {
    text-align: center;
    height: 35%;
    padding-top: 5px;
}

.PlaylistSection .Info .posterinfo:hover > .StreamingInfo {
    display: contents;
    margin-top: 255px;
    margin-right: auto;
    margin-left: auto;
}

.StreamingInfo .section-content {
    width: 120%;
}

.StreamingInfo .section-title {
    flex: 1;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

.StreamingInfo .section-title h2 {
    margin: 0;
    font-weight: bold;
    text-align: center;
}


.StreamingInfo #streaming .StreamingList {
    float: right;
    width: 100%;
    height: 90%;
}

#streaming .StreamingList .List-Cat {
    height: 100%;
    text-align: center;
    background-color: #530881;
    background-image: 
        radial-gradient(at 47% 33%, hsl(18.00, 100%, 51%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(19.73, 93%, 52%) 0, transparent 55%);
}

#streaming .List-Cat h3 {
    font-size: 20px;
    color: white;
    margin-left: 5px;
}

#streaming .List-Cat img {
    height: 40px;
    width: 40px;
    margin-bottom: 5px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 10px;
}

#streaming .List-Cat .Free-Streaming:hover {
    cursor: pointer;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) saturate(200%);
}

#streaming .List-Cat .Rent-Streaming:hover {
    cursor: pointer;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) saturate(200%);
}

#streaming .List-Cat .Buy-Streaming:hover {
    cursor: pointer;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) saturate(200%);
}

#streaming .List-Cat .Free-Streaming {
    height: 33%;
    border-bottom: 1px solid white;
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgba(255, 255, 255, .25);
    border: 1px solid rgb(255 255 255 / 35%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
    -webkit-backdrop-filter: revert;
    backdrop-filter: revert;
}

#streaming .List-Cat .Rent-Streaming {
    height: 33%;
    border-bottom: 1px solid white;
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgba(255, 255, 255, .25);
    border: 1px solid rgb(255 255 255 / 35%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
    -webkit-backdrop-filter: revert;
    backdrop-filter: revert;
}

#streaming .List-Cat .Buy-Streaming {
    height: 33%;
    border-bottom: 1px solid white;
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgba(255, 255, 255, .25);
    border: 1px solid rgb(255 255 255 / 35%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
    -webkit-backdrop-filter: revert;
    backdrop-filter: revert;
}



