
.SearchForm {
    display: none;
}









.PlaylistSection {
    width: 70%;
    margin: auto;
    background-color: rgb(73 6 203 / 20%);
    border-radius: 15px;
/*    background-color: #530881;
    background-image: 
        radial-gradient(at 47% 33%, hsl(18.00, 100%, 51%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(19.73, 93%, 52%) 0, transparent 55%);
*/
}

.PlaylistSection a {
    text-decoration: none;
    color: white;
}

.PlaylistSection .Info {
    height: 100%;
    width: 80%;
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.PlaylistSection .Info .PosterInfo {
    width: 33%;
    height: 100%;
    margin-bottom: 20px;
    position: relative;
    transition-duration: 0.5s;
    display: inline-grid;
}

.Info .PosterInfo > .StreamingInfo {
    display: none;
    position: absolute;
}

.PlaylistSection .Info .PosterInfo .card {
    background: rgba(255, 255, 255, .25);
    height: 230px;
    border: 1px solid rgb(255 255 255 / 35%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 180px;
    text-decoration: none;
    margin: 10px auto 10px auto;
    border-radius: 20px;
    -webkit-backdrop-filter: revert;
    backdrop-filter: revert;
}

.PlaylistSection .Info .PosterInfo .card:hover {
    -webkit-box-shadow: 0px 0px 2px 3px rgb(255 255 255 / 25%);
    box-shadow: 0px 0px 2px 3px #f8f9fa73;
    cursor: pointer;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) saturate(200%);
    background-color: #530881;
    background-image: 
        radial-gradient(at 47% 33%, hsl(18.00, 100%, 51%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(19.73, 93%, 52%) 0, transparent 55%);
}

.PlaylistSection .Info .PosterInfo .card img {
    width: 85%;
    height: 68%;
    object-fit: cover;
    margin-right: auto;
    margin-left: auto;
    padding-top: 8px;
    display: inline-block;
    border-radius: 20px;
}

.PlaylistSection .Info .PosterInfo .card .info-container {
    text-align: center;
    height: 35%;
    padding-top: 5px;
}



.PlaylistSection .Info .PosterInfo:hover > .StreamingInfo {
    display: contents;
    margin-top: 255px;
    margin-right: auto;
    margin-left: auto;
}

.StreamingInfo .section-content {
    width: 120%;
}

.StreamingInfo .section-title {
    flex: 1;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

.StreamingInfo .section-title h2 {
    margin: 0;
    font-weight: bold;
    text-align: center;
}


.StreamingInfo #streaming .StreamingList {
    float: right;
    width: 100%;
    height: 90%;
}

#streaming .StreamingList .List-Cat {
    height: 100%;
    text-align: center;
    background-color: #530881;
    background-image: 
        radial-gradient(at 47% 33%, hsl(18.00, 100%, 51%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(19.73, 93%, 52%) 0, transparent 55%);
}

#streaming .List-Cat h3 {
    font-size: 20px;
    color: white;
    margin-left: 5px;
}

#streaming .List-Cat img {
    height: 40px;
    width: 40px;
    margin-bottom: 5px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 10px;
}

#streaming .List-Cat .Free-Streaming:hover {
    cursor: pointer;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) saturate(200%);
}

#streaming .List-Cat .Rent-Streaming:hover {
    cursor: pointer;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) saturate(200%);
}

#streaming .List-Cat .Buy-Streaming:hover {
    cursor: pointer;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) saturate(200%);
}

#streaming .List-Cat .Free-Streaming {
    height: 33%;
    border-bottom: 1px solid white;
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgba(255, 255, 255, .25);
    border: 1px solid rgb(255 255 255 / 35%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
    -webkit-backdrop-filter: revert;
    backdrop-filter: revert;
}

#streaming .List-Cat .Rent-Streaming {
    height: 33%;
    border-bottom: 1px solid white;
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgba(255, 255, 255, .25);
    border: 1px solid rgb(255 255 255 / 35%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
    -webkit-backdrop-filter: revert;
    backdrop-filter: revert;
}

#streaming .List-Cat .Buy-Streaming {
    height: 33%;
    border-bottom: 1px solid white;
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgba(255, 255, 255, .25);
    border: 1px solid rgb(255 255 255 / 35%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
    -webkit-backdrop-filter: revert;
    backdrop-filter: revert;
}
